<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/alertifyjs/css/alertify.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/alertifyjs/css/themes/default.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/select2/css/select2.css">
    <link rel="stylesheet" type="text/css" href="assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="assets/css/container.css">

    {% block stylesheet %}
    {% endblock %}
</head>
<body>
    <div id="nav">
        <div class="navbar navbar-inverse navbar-fixed-top" data-offset-top="100">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="painel"><img class="img-responsive logo img-thumbnail" src="assets/img/logo2.png" alt="" width="150px" height="100px"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
    
            <ul class="nav navbar-nav navbar-right">
    
                <li ><a href="painel" style="color: #6aadbd"><span class="glyphicon glyphicon-home"></span> Inicio</a>
                </li>
              
              <li class="dropdown">
                <a href="#" style="color: #d16f4b" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt"></span> Gestão Produtos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="categorias">Categorias</a></li>
                  <li><a href="produto-form">Produtos</a></li>
                  <li><a href="fornecedores.php">Fornecedores</a></li>
                </ul>
              </li>
    
               <li><a href="cliente-add" style="color: #e303fc"><span class="glyphicon glyphicon-user"></span> Clientes</a>
              </li>
              <li><a href="pdv" style="color: #e306fc"><span class="glyphicon glyphicon-usd"></span> PDV</a>
              </li>
              <!--
              <li><a href="vendas.php" style="color: #61e89c"><span class="glyphicon glyphicon-usd"></span>Vendas</a>
              </li> -->
    
              <li class="dropdown">
                <a href="#" style="color: #61e89c" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-usd"></span> Gestão Vendas <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="pagamentos.php">Pagamentos</a></li>
                  <li><a href="comandas">Abrir Comanda</a></li>
                  <li><a href="vendasRelatorios.php">Lista de Vendas</a></li>
                </ul>
              </li>
              
              <li class="dropdown" >
                <a href="#" style="color: #19d1cb"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Usuário   <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  
                  {% if session['usuario'].getCargo() == "1" %} 
                  <li> <a href="usuario-add">Gestão Usuários</a></li>
                  {% endif %}
    
                  <li> <a style="color: red" href="sair"><span class="glyphicon glyphicon-off"></span> Sair</a></li>
                  
                </ul>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!--/.contatiner -->
      </div>
    </div>
    
    {% block body %}
    {% endblock %}

    <script src="assets/lib/jquery-3.2.1.min.js"></script>
    <script src="assets/lib/jquery.maskMoney.min.js"></script>
    <script src="assets/lib/jquery.mask.js"></script>
    <script src="assets/lib/alertifyjs/alertify.js"></script>
    <script src="assets/lib/bootstrap/js/bootstrap.js"></script>
    <script src="assets/lib/select2/js/select2.min.js"></script>
    <script src="assets/lib/select2/js/i18n/pt-BR.js"></script>
    <script src="assets/js/funcoes.js"></script>
    <script src="assets/js/funcaocpf.js"></script>
    <script type="text/javascript">
        $(window).scroll(function() {
          if ($(document).scrollTop() > 150) {
            $('.logo').width(130);
           // $('.logo').height(auto);
      
          }
          else {
            $('.logo').width(130);
          //  $('.logo').height(auto);
          }
        });
      </script>

    {% block javascript %}
    {% endblock %}
</body>
</html>