<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/alertifyjs/css/alertify.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/alertifyjs/css/themes/default.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/select2/css/select2.css">
    <link rel="stylesheet" type="text/css" href="assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="assets/css/container.css">
    <link rel="stylesheet" type="text/css" href="assets/css/card.css">
    <script src="assets/lib/Highcharts/code/highcharts.js"></script>
    <script src="assets/lib/Highcharts/code/modules/data.js"></script>
    <script src="assets/lib/Highcharts/code/modules/accessibility.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    {% block stylesheet %}
    {% endblock %}
</head>
<body>
    <div id="nav">
        <div class="navbar navbar-fixed-top" data-offset-top="100" style="background-color: #e9ae60">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href=""><img class="img-responsive logo img-thumbnail" src="assets/img/logo2.png" alt="" width="150px" height="100px"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
    
            <ul class="nav navbar-nav navbar-right">
              {% if 16 in session['usuario'].getAcessos() %}
              <li ><a href="dashboard" style="color: #2b2574"><span class="glyphicon glyphicon-home"></span> Dashboard</a>
              {% else %}
              <li ><a href="painel" style="color: #2b2574"><span class="glyphicon glyphicon-home"></span> Inicio</a>
              {% endif %}
              </li>
              <li><a href="cliente-tabela" style="color: #0d02a3" ><span class="glyphicon glyphicon-user"></span> Clientes</a></li>
              <!-- <li class="dropdown">
                <a href="#" style="color: #0d02a3" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Clientes <span class="caret"></span></a>
                <ul class="dropdown-menu"> -->
                  <!-- <li><a class="dropdown-item" href="cliente-tabela">Clientes</a></li> -->
                  <!-- <li><a class="dropdown-item" href="cliente-add" ><span ></span> Clientes</a></li> -->
                <!-- </ul>
              </li> -->
              {% if 13 in session['usuario'].getAcessos() %}
              <li class="dropdown">
                <a href="#" style="color: #045719" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-usd"></span> Gestão Comanda <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% if 14 in session['usuario'].getAcessos() %}
                  <li><a href="pdv" style="color: #045719"><span class="glyphicon glyphicon-usd"></span> PDV</a>
                  </li>
                  {% endif %}
                  {% if 13 in session['usuario'].getAcessos() %}
                  <li><a href="comandas" style="color: #045719"><span class="glyphicon glyphicon-usd"></span> Abrir Comanda</a>
                  </li>
                  {% endif %}
                </ul>
              </li>
              {% endif %}
              
              <li class="dropdown">
                <a href="#" style="color: #0d02a3" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt"></span> Gestão Produtos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% if 10 in session['usuario'].getAcessos() %} 
                  <li><a href="categorias">Categorias</a></li>
                  <li><a href="adicionar-fornecedor">Fornecedores</a></li>
                  {% endif %}
                  <li><a href="estoque">Produtos</a></li>
                </ul>
              </li>
              
              {% if 15 in session['usuario'].getAcessos() %}
              <li class="dropdown">
                <a href="#" style="color: #0d02a3" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt"></span> Relatórios <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% if 16 in session['usuario'].getAcessos() %}
                  <li><a href="mais-vendidos-produto">Produtos mais vendidos</a></li>
                  {% endif %}
                  {% if 15 in session['usuario'].getAcessos() %}
                  <li><a href="pesquisa-comanda">Comandas Status</a></li>
                  {% endif %}
                  {% if 17 in session['usuario'].getAcessos() %}
                  <li><a href="colaboradores-vendas">Vendas dos Colaboradores</a></li>
                  {% endif %}
                  {% if 18 in session['usuario'].getAcessos() %}
                  <li><a href="status-anual">Lançamentos e vendas</a></li>
                  {% endif %}
                  {% if 19 in session['usuario'].getAcessos() %}
                  <li><a href="pesquisar-vendas">Vendas itens</a></li>
                  {% endif %}
                </ul>
              </li>
              {% endif %}

              {% if 19 in session['usuario'].getAcessos() %}
              <li><a href="lancamento" style="color: #255704"><span class="glyphicon glyphicon-usd"></span>Lançamentos</a>
              </li>
              {% endif %}

              <li class="dropdown" >
                <a href="#" style="color: #a34202"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ session['usuario'].getNome() }}   <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% if 5 in session['usuario'].getAcessos() %}
                  <li> <a href="tab-usuario">Gestão Usuários</a></li>
                  {% endif %}
                  <!-- {% if session['usuario'].getCargo() == "1" %}  -->
                  
                  <!-- <li> <a href="usuario-add">Gestão Usuários</a></li> -->
                  <!-- {% endif %} -->
                  <li> <a style="color: #5900ff" href="manual"><span class="glyphicon glyphicon-book"></span> Manual</a></li>
                  <li> <a style="color: red" href="sair"><span class="glyphicon glyphicon-off"></span> Sair</a></li>
                  
                </ul>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!--/.contatiner -->
      </div>
    </div>
    
    {% block body %}
    {% endblock %}

    <script src="assets/lib/jquery-3.2.1.min.js"></script>
    <script src="assets/lib/jquery.maskMoney.min.js"></script>
    <script src="assets/lib/jquery.mask.js"></script>
    <script src="assets/lib/alertifyjs/alertify.js"></script>
    <script src="assets/lib/bootstrap/js/bootstrap.js"></script>
    <script src="assets/lib/select2/js/select2.min.js"></script>
    <script src="assets/lib/select2/js/i18n/pt-BR.js"></script>
    <script src="assets/js/funcoes.js"></script>
    <script src="assets/js/funcaocpf.js"></script>
    <script src="assets/js/funcaocnpj.js"></script>
    <script type="text/javascript">
        $(window).scroll(function() {
          if ($(document).scrollTop() > 150) {
            $('.logo').width(130);
           // $('.logo').height(auto);
      
          }
          else {
            $('.logo').width(130);
          //  $('.logo').height(auto);
          }
        });
      </script>

    {% block javascript %}
    {% endblock %}
</body>
</html>