{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block stylesheet %}
<style>
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <select class="form-control input-sm" id="mes" name="mes">
                <!-- <option selected>Mês</option> -->
                <option value="01">Janeiro</option>
                <option value="02">Fevereiro</option>
                <option value="03">Março</option>
                <option value="04">Abril</option>
                <option value="05">Maio</option>
                <option value="06">Junho</option>
                <option value="07">Julho</option>
                <option value="08">Agosto</option>
                <option value="09">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option> 
            </select>
        </div>
        <div class="col-sm-2">
            <select class="form-control input-sm" id="ano" name="ano">
                <option selected>Mês</option> 
                {% for ano in anos %}
                <option value="{{ano.ANO}}">{{ano.ANO}}</option>
                {% endfor %} 
              </select>
        </div>
    </div>
    
    <div>
        <div id="container" style="width:100%; height:400px;"></div>
    </div>

    <div>
        {% for ano in anos %}
        <label>{{ano.ANO}},</label><br>
        {% endfor %} 
    </div>
</div>

    <!-- <img src="assets/img/raposab.png" > -->
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    var dataHoje = new Date();
    let grafico;
    $('#mes').val('0'+(dataHoje.getMonth()+1)).trigger('change');
    $('#ano').val(dataHoje.getFullYear()).trigger('change');

    

    
       
        function carrega(dados) {
            
        
        $.ajax({
            type:"POST",
            data: dados,
            url:"pesquisa-mes",
            success:function(r){
                var resp = JSON.parse(r);
                console.log('resp', resp);

        Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: dataHoje
                    },
                    xAxis: {
                        categories: resp.label,
                        crosshair: true,
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'R$'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'Vendas',
                        data: resp.data
                    }]
                });
            }
        });
        }        
    document.addEventListener('DOMContentLoaded', function () {
        dados={
            dtInicial:$('#ano').val()+'-'+$('#mes').val()+'-'+'01'
    };
    carrega(dados);
    console.log('ak pag');
    });
</script>

<script type="text/javascript">
    $('#mes').change(function(){
        dados={
            dtInicial:$('#ano').val()+'-'+$('#mes').val()+'-'+'01'
        };
        console.log('dados',dados);
        carrega(dados);
        console.log('ak selec');
       
        
    });

    $('#ano').change(function(){
        dados={
            dtInicial:$('#ano').val()+'-'+$('#mes').val()+'-'+'01'
        };
        console.log('dados',dados);
        carrega(dados);
        console.log('ak selec');
       
        
    });
</script>
{% endblock %}