{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block stylesheet %}
<style>
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
{% endblock %}

{% block body %}

<!-- <div class="container">
    <div class="row">
        <div class="col-sm-2">
            <select class="form-control input-sm" id="mes" name="mes">
                <option value="01">Janeiro</option>
                <option value="02">Fevereiro</option>
                <option value="03">Março</option>
                <option value="04">Abril</option>
                <option value="05">Maio</option>
                <option value="06">Junho</option>
                <option value="07">Julho</option>
                <option value="08">Agosto</option>
                <option value="09">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option> 
            </select>
        </div>
        <div class="col-sm-2">
            <select class="form-control input-sm" id="ano" name="ano">
                {% if anos|length == 0 %}
                    <option value="{{'now'|date('Y')}}">{{'now'|date('Y')}}</option>
                    {% else %}
                    {% for ano in anos %}
                    <option value="{{ano.ANO}}">{{ano.ANO}}</option>
                    {% endfor %} 
                {% endif %}
            </select>
        </div>
    </div>
    <br>
    <div>
        <div id="container" style="width:90%; height:400px;"></div>
    </div>

</div> -->
<div class="container">
    <img src="assets/img/raposab.png" >
</div>
    
{% endblock %}

{% block javascript %}
{% endblock %}