<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    

    <table class="table table-hover table-condensed table-bordered"  id="lista">
        <!-- <div ><input class="col-sm-6" id="filtro-nome" placeholder="Nome"/></div></br>
        <br> -->
        <thead>	
            <tr>
                <th scope="col"></th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade Vendida</th>
                <th scope="col">Total Vendas</th>
                <th scope="col">Total Liquido</th>
            </tr>
        </thead>
        <tbody>
            {% for brinquedo in brinquedos %}
            <tr>
                <td>{{i+1}}</td>
                <td>{{brinquedo.nome}}</td>
                <td>{{brinquedo.quantidadeVendida}}</td>
                <td>{{brinquedo.totalVendas}}</td>
                <td>{{brinquedo.totalLiquido | format_currency('BRL')}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>