<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <table class="table table-hover table-condensed table-bordered"  id="lista">
        <!-- <div ><input class="col-sm-6" id="filtro-nome" placeholder="Nome"/></div></br>
        <br> -->
        <thead>	
            <tr>
                <th scope="col"></th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade Vendidas</th>
                <th scope="col">Ticket Medio</th>
                <th scope="col">Total Liquido</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
                <td>{{i+1}}</td>
                <td>{{venda.nome}}</td>
                <td>{{venda.totalVendas}}</td>
                <td>{{venda.ticketMedio | format_currency('BRL')}}</td>
                <td>{{venda.totalLiquido | format_currency('BRL')}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>