{% extends "mkdocs/base_mkdocs.html.twig" %}

{% block titulo %}
Abrir Comanda - Manual do Usuário
{% endblock %}

{% block subtitulo %}

            
              Abrir Comanda
            
          
{% endblock %}

{% block menuEsquerdo %}
<nav aria-label="Navegação" class="md-nav md-nav--primary" data-md-level="0">
<label class="md-nav__title" for="__drawer">
<a aria-label="Manual do Usuário" class="md-nav__button md-logo" data-md-component="logo" href="." title="Manual do Usuário">
<img alt="logo" src="http://localhost/mkdocs/assets/imagens/logo2.png"/>
</a>
    Manual do Usuário
  </label>
<ul class="md-nav__list" data-md-scrollfix="">
<li class="md-nav__item">
<a class="md-nav__link" href="introducao">
        Introdução
      </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="inicio">
        Inicio
      </a>
</li>
{% if 5 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="colaborador">
        Colaborador
      </a>
</li>
{% endif %}
{% if 10 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="categorias">
        Categorias
      </a>
</li>
{% endif %}
{% if 9 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="produtos">
        Produtos
      </a>
</li>
{% endif %}
{% if 11 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="lote">
        Lote
      </a>
</li>
{% endif %}
{% if 12 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="estoque">
        Estoque
      </a>
</li>
{% endif %}
{% if 1 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="cliente">
        Cliente
      </a>
</li>
{% endif %}
{% if 13 in session['usuario'].getAcessos() %}
<li class="md-nav__item md-nav__item--active">
<input class="md-nav__toggle md-toggle" data-md-toggle="toc" id="__toc" type="checkbox"/>
<label class="md-nav__link md-nav__link--active" for="__toc">
          Abrir Comanda
          <span class="md-nav__icon md-icon"></span>
</label>
<a class="md-nav__link md-nav__link--active" href="abrir-comanda">
        Abrir Comanda
      </a>
<nav aria-label="Índice" class="md-nav md-nav--secondary">
<label class="md-nav__title" for="__toc">
<span class="md-nav__icon md-icon"></span>
      Índice
    </label>
<ul class="md-nav__list" data-md-component="toc" data-md-scrollfix="">
<li class="md-nav__item">
<a class="md-nav__link" href="#cliente-sem-cadastro">
    Cliente sem cadastro
  </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="#editar-comanda-salva">
    Editar comanda salva
  </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="#retirar-um-brinquedo-da-lista-da-comanda">
    Retirar um brinquedo da lista da comanda
  </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="#quantidade-de-brinquedos">
    Quantidade de brinquedos
  </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="#codigo-do-produto-nao-escaneia">
    Código do produto não escaneia
  </a>
</li>
</ul>
</nav>
</li>
{% endif %}
{% if 14 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="pdv-ponto-de-venda">
        Pdv - Ponto De Venda
      </a>
</li>
{% endif %}
{% if 18 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="lancamentos">
        Lançamentos
      </a>
</li>
{% endif %}
{% if 15 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="relatorios">
        Relatórios
      </a>
</li>
{% endif %}
</ul>
</nav>
{% endblock %}

{% block menuDireito %}
<nav aria-label="Índice" class="md-nav md-nav--secondary">
<label class="md-nav__title" for="__toc">
<span class="md-nav__icon md-icon"></span>
      Índice
    </label>
<ul class="md-nav__list" data-md-component="toc" data-md-scrollfix="">
<li class="md-nav__item">
<a class="md-nav__link" href="#cliente-sem-cadastro">
    Cliente sem cadastro
  </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="#editar-comanda-salva">
    Editar comanda salva
  </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="#retirar-um-brinquedo-da-lista-da-comanda">
    Retirar um brinquedo da lista da comanda
  </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="#quantidade-de-brinquedos">
    Quantidade de brinquedos
  </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="#codigo-do-produto-nao-escaneia">
    Código do produto não escaneia
  </a>
</li>
</ul>
</nav>
{% endblock %}

{% block conteudo %}
<article class="md-content__inner md-typeset">
<h1 id="abrir-comanda">ABRIR COMANDA</h1>
<p><img alt="abrir-comanda" src="http://localhost/mkdocs/assets/imagens/comanda.png"/></p>
<p>Na tela <strong>Abrir Comanda</strong> é onde se inicia uma venda.</p>
<p>Primeiro clique no campo <strong>Número Comanda</strong>, escaneie a comanda (fisica).
Digite o CPF do cliente. É necessário que o cliente já esteja cadastrado no sistema.
Escaneie o código do brinquedo.
Clique em <strong>Enviar</strong>. <img alt="enviar" src="http://localhost/mkdocs/assets/imagens/enviar-botao.png"/></p>
<h4 id="cliente-sem-cadastro">Cliente sem cadastro</h4>
<p>Digitado o CPF e o cliente não foi encontrado. 
Clique na opção <em>Anônimo</em>. 
Depois em <em>Enviar</em>. 
(Assim os itens ficaram salvos na comanda).</p>
<p>Vá a tela cliente e verifique o cadastro do mesmo. </p>
<p>Caso o cliente não tenha cadastro, clique em <strong>Novo Cliente</strong> e o adicione.</p>
<p>Cadastrando o cliente, volte a tela <strong>Abrir Comanda</strong> para editar a comanda já salva.</p>
<h4 id="editar-comanda-salva">Editar comanda salva</h4>
<p>Escaneie a comanda que já possui itens salvos.</p>
<p>Faça a alteração (brinquedos ou inclusão do cliente).</p>
<p>Clique em <strong>Enviar</strong>. <img alt="enviar" src="http://localhost/mkdocs/assets/imagens/enviar-botao.png"/></p>
<h4 id="retirar-um-brinquedo-da-lista-da-comanda">Retirar um brinquedo da lista da comanda</h4>
<p>Ao estar incluindo brinquedos na lista da comanda e cliente desiste de compra-lo.</p>
<p>Cliente no ícone <img alt="excluir" src="http://localhost/mkdocs/assets/imagens/excluir-x.png"/>. O brinquedo então será excluído. </p>
<h4 id="quantidade-de-brinquedos">Quantidade de brinquedos</h4>
<p>Caso o cliente deseja comprar mais brinquedo do mesmo modelo, antes de escanear o código:</p>
<p>Vá na opção <em>quantidade vendida</em>. Altere a quantidade desejada.</p>
<p>Escaneie o código do brinquedo.</p>
<h4 id="codigo-do-produto-nao-escaneia">Código do produto não escaneia</h4>
<p>O escaner não está funcionando, ou o código do brinquedo está com falha.</p>
<p>No campo <strong>Produto</strong> comece a escrever o nome do brinquedo.
Opções irão ser apresentadas para ser selecionadas.</p>
<p>Clique no brinquedo respectivo.</p>
<p>Irá aparecer as informações relacionadas, como descrição, preço, quantidade em estoque.</p>
<p>Clique em <strong>Adicionar</strong> <img alt="adicionar" src="http://localhost/mkdocs/assets/imagens/adicionar-botao.png"/> . O brinquedo irá ser adicionado na lista de brinquedos da comanda.</p>
</article>
{% endblock %}

{% block rodape %}
<nav aria-label="Rodapé" class="md-footer__inner md-grid">
<a aria-label="Anterior: Cliente" class="md-footer__link md-footer__link--prev" href="cliente" rel="prev">
<div class="md-footer__button md-icon">
<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20 11v2H8l5.5 5.5-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5 8 11h12Z"></path></svg>
</div>
<div class="md-footer__title">
<div class="md-ellipsis">
<span class="md-footer__direction">
                Anterior
              </span>
              Cliente
            </div>
</div>
</a>
<a aria-label="Próximo: Pdv - Ponto De Venda" class="md-footer__link md-footer__link--next" href="pdv-ponto-de-venda" rel="next">
<div class="md-footer__title">
<div class="md-ellipsis">
<span class="md-footer__direction">
                Próximo
              </span>
              Pdv - Ponto De Venda
            </div>
</div>
<div class="md-footer__button md-icon">
<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4 11v2h12l-5.5 5.5 1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5 16 11H4Z"></path></svg>
</div>
</a>
</nav>
{% endblock %}
