{% extends "mkdocs/base_mkdocs.html.twig" %}

{% block titulo %}
Categorias - Manual do Usuário
{% endblock %}

{% block subtitulo %}

            
              Categorias
            
          
{% endblock %}

{% block menuEsquerdo %}
<nav aria-label="Navegação" class="md-nav md-nav--primary" data-md-level="0">
<label class="md-nav__title" for="__drawer">
<a aria-label="Manual do Usuário" class="md-nav__button md-logo" data-md-component="logo" href="." title="Manual do Usuário">
<img alt="logo" src="http://localhost/mkdocs/assets/imagens/logo2.png"/>
</a>
    Manual do Usuário
  </label>
<ul class="md-nav__list" data-md-scrollfix="">
<li class="md-nav__item">
<a class="md-nav__link" href="introducao">
        Introdução
      </a>
</li>
<li class="md-nav__item">
<a class="md-nav__link" href="inicio">
        Inicio
      </a>
</li>
{% if 5 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="colaborador">
        Colaborador
      </a>
</li>
{% endif %}
{% if 10 in session['usuario'].getAcessos() %}
<li class="md-nav__item md-nav__item--active">
<input class="md-nav__toggle md-toggle" data-md-toggle="toc" id="__toc" type="checkbox"/>
<label class="md-nav__link md-nav__link--active" for="__toc">
          Categorias
          <span class="md-nav__icon md-icon"></span>
</label>
<a class="md-nav__link md-nav__link--active" href="categorias">
        Categorias
      </a>
<nav aria-label="Índice" class="md-nav md-nav--secondary">
<label class="md-nav__title" for="__toc">
<span class="md-nav__icon md-icon"></span>
      Índice
    </label>
<ul class="md-nav__list" data-md-component="toc" data-md-scrollfix="">
<li class="md-nav__item">
<a class="md-nav__link" href="#editar-categoria">
    Editar Categoria
  </a>
</li>
</ul>
</nav>
</li>
{% endif %}
{% if 9 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="produtos">
        Produtos
      </a>
</li>
{% endif %}
{% if 11 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="lote">
        Lote
      </a>
</li>
{% endif %}
{% if 12 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="estoque">
        Estoque
      </a>
</li>
{% endif %}
{% if 1 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="cliente">
        Cliente
      </a>
</li>
{% endif %}
{% if 13 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="abrir-comanda">
        Abrir Comanda
      </a>
</li>
{% endif %}
{% if 14 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="pdv-ponto-de-venda">
        Pdv - Ponto De Venda
      </a>
</li>
{% endif %}
{% if 18 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="lancamentos">
        Lançamentos
      </a>
</li>
{% endif %}
{% if 15 in session['usuario'].getAcessos() %}
<li class="md-nav__item">
<a class="md-nav__link" href="relatorios">
        Relatórios
      </a>
</li>
{% endif %}
</ul>
</nav>
{% endblock %}

{% block menuDireito %}
<nav aria-label="Índice" class="md-nav md-nav--secondary">
<label class="md-nav__title" for="__toc">
<span class="md-nav__icon md-icon"></span>
      Índice
    </label>
<ul class="md-nav__list" data-md-component="toc" data-md-scrollfix="">
<li class="md-nav__item">
<a class="md-nav__link" href="#editar-categoria">
    Editar Categoria
  </a>
</li>
</ul>
</nav>
{% endblock %}

{% block conteudo %}
<article class="md-content__inner md-typeset">
<h1 id="categorias">CATEGORIAS</h1>
<p><img alt="categoria" src="http://localhost/mkdocs/assets/imagens/categoria-tela.png"/></p>
<p>O cadastramento da categoria é necessário para incluir os brinquedos no sistema. </p>
<p>Preencha os campos, faixa etária e uma breve descrição. Clique em <strong>Adicionar</strong>, para ser salvo as informações.</p>
<p>Note que ao lado do formulário há uma tabela, nela aparecerá a faixa etária cadastrada e sua descrição.</p>
<p>Veja que na tabela há o campo <em>Editar</em> <img alt="editar" src="http://localhost/mkdocs/assets/imagens/editar-caneta.png">. Clicando nele será direcionado para edição da categoria.</img></p>
<p>Também na tabela há a opção <em>Excluir</em> <img alt="inativar" src="http://localhost/mkdocs/assets/imagens/excluir-x.png"/>. Clicando nele irá excluir a categoria do sistema. </p>
<h2 id="editar-categoria">Editar Categoria</h2>
<p><img alt="editar-categoria" src="http://localhost/mkdocs/assets/imagens/editar-categoria-tela.png"/></p>
<p>Uma modal é apresentada com as informações da categoria já cadastradas.</p>
<p>Altere o campo que desejar e clique em <strong>Salvar</strong> <img alt="salvar" src="http://localhost/mkdocs/assets/imagens/salvar-modal.png"/>, para salvar as informações editadas.</p>
</article>
{% endblock %}

{% block rodape %}
<nav aria-label="Rodapé" class="md-footer__inner md-grid">
<a aria-label="Anterior: Colaborador" class="md-footer__link md-footer__link--prev" href="colaborador" rel="prev">
<div class="md-footer__button md-icon">
<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20 11v2H8l5.5 5.5-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5 8 11h12Z"></path></svg>
</div>
<div class="md-footer__title">
<div class="md-ellipsis">
<span class="md-footer__direction">
                Anterior
              </span>
              Colaborador
            </div>
</div>
</a>
<a aria-label="Próximo: Produtos" class="md-footer__link md-footer__link--next" href="produtos" rel="next">
<div class="md-footer__title">
<div class="md-ellipsis">
<span class="md-footer__direction">
                Próximo
              </span>
              Produtos
            </div>
</div>
<div class="md-footer__button md-icon">
<svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4 11v2h12l-5.5 5.5 1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5 16 11H4Z"></path></svg>
</div>
</a>
</nav>
{% endblock %}
