{% extends "mkdocs/base_mkdocs.html.twig" %}

{% block titulo %}
Permissão
{% endblock %}

{% block subtitulo %}

{% endblock %}

{% block menuEsquerdo %}
{% endblock %}

{% block menuDireito %}
{% endblock %}

{% block conteudo %}
<article class="md-content__inner md-typeset">
<span>Página indisponível para esse acesso.</span>
</article>
{% endblock %}

{% block rodape %}

{% endblock %}