{% extends "base.html" %}

{% block title %}Estoque{% endblock %}

{% block stylesheet %}
<style>
    td {text-align: center;}
    th {text-align: center;}
 </style>
 {% endblock %}

{% block body %}
<div class="container">
    <div id="tabelaClientesLoad">
        <h1>Produtos</h1>
        <div class="row">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" ><a href="produtoF">Cadastrar Produtos</a></li>
                <li role="presentation" ><a href="produtoV">Preço para venda</a></li>
                <li role="presentation" class="active"><a href="estoque">Estoque</a></li>
            </ul>
        </div>	
        </br>
    
        <div class="row">
            <div class="col-sm">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="lista">
                        <caption><label>Produtos</label></caption>
                        </br>
                        <div class="col-4"><input class="col-sm-4" id="filtro-nome" placeholder="Nome"/></div></br>
                        </br>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Quantidade</th>
                                <th>Preço Venda</th>

                                <!--<td>Editar</td>-->
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for estoque in estoques %}
                            <tr>
                                <td>{{estoque.nome}}</td>
                                <td>{{estoque.descricao}}</td>
                                <td>{{estoque.quantidade}}</td>
                                <td>{{estoque.preco_ven}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>	
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>		
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $('#filtro-nome').keyup(function() {
        var nomeFiltro = $(this).val().toLowerCase();
        $('table tbody').find('tr').each(function() {
            var conteudoCelula = $(this).find('td:first').text();
            var corresponde = conteudoCelula.toLowerCase().indexOf(nomeFiltro) >= 0;
            $(this).css('display', corresponde ? '' : 'none');
        });
    });
</script>
{% endblock %}