{% extends "base.html" %}

{% block title %}PDV{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}
<div class="container" style="margin-top: -55px;">
    <h3 style="color: green;">Lançar Venda</h3>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <form method="post" id="frmComanda">
				
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="numeroComanda" style="color: rgb(0, 19, 128);" >Número Comanda</label>
                            <input type="text" class="form-control input-sm" id="numeroComanda" name="numeroComanda" pattern="REINO[0-9]{4}" title="REINO####">
                            <input type="submit" id="sub">
                        </div>
                    </div>
                </div>

                <div class="row" id="grupoCpf">
                    <div class="col-sm-4">
						<div class="form-group">
							<label>Digite o CPF</label>
							<select class="form-control input-sm" id="clienteCpf" name="clienteCpf" required>
								<option value="" readonly="true">Só números</option>
								<!-- <option value="{{produto.id}}">{{cliente.cpf}}</option> -->
							</select>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label>Nome </label>
							<input readonly="" type="text" class="form-control input-sm" id="nomeClienteComanda" name="nomeClienteComanda">
						</div>
					</div>
                </div>

                <div class="mb-3 form-check">
					<input type="checkbox" class="form-check-input" id="anonimo">
					<label class="form-check-label" for="anonimo">Anônimo</label>
				</div>
                <br>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
							<label>Código</label>
							<input type="textbox" class="form-control input-sm" id="codigo" name="codigo" data-nome="" data-id="">
						</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
							<label>Produto</label>
							<select class="form-control input-sm" id="produtoVenda" name="produtoVenda">
								<option value="">Selecionar</option>
								<!--<option value="{{produto.id}}">{{produto.nome}}</option>--> 
							</select>
						</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Descrição</label>
                            <textarea readonly="" id="descricaoV" name="descricaoV" class="form-control input-sm"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
							<label>Quantidade Estoque</label>
							<input readonly="" type="text" class="form-control input-sm" id="quantidadeV" name="quantidadeV">
						</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
							<label>Preço</label>
							<input readonly="" type="text" class="form-control input-sm" id="precoV" name="precoV">
						</div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
							<label>Quantidade Vendida</label>
							<input type="number" class="form-control input-sm" id="quantV" name="quantV">
						</div>
                    </div>
                </div>

                <div class="row">
					<div class="col-sm-5" style="margin-left: 30px;">
						<span type="submit" class="btn btn-primary btn-block" id="btAddTemp">Adicionar</span>
					</div>
                </div>
			</form>	
        </div>

        <div class="col-sm-6">
            <div class="row">
                <table id="tabelaComanda" class="table table-bordered table-hover table-condensed" style="text-align: center; margin-top: 50px;">
                    <thead>
                        <tr class="table-primary">
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Subtotal</th>
                        <!-- <th scope="col">Excluir</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"></td>
                            <th>Total</th>
                            <td id="valorTotal">R$ 0,00</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div id="botoesComandaAtiva">
            <div class="row" >
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success" name="finalizarVenda" id="finalizarVenda" >Finalizar Venda</button>
                </div>
                <div class="col-sm-4">
                    <span class="btn btn-danger" id="btnLimparComanda">Limpar Comanda</span>
                </div>
    
            </div>    
        </div>
        



    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}