{% extends "base.html" %}

{% block title %}PDV{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}

<div class="container">
    <h3>Lançar Venda</h3>

    <section class="direita">
		<div class="row">
			<form method="post" id="frmComanda">
				<div class="row" id="grupoNumero">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Numero Comanda</label>
							<input type="text" class="form-control input-sm" id="numeroComanda" name="numeroComanda">
						</div>
					</div>
				</div>
				<div class="row" id="grupoCpf">
					<div class="col-sm-5">
						<div class="form-group">
							<label>Selecionar Cliente</label>
							<select class="form-control input-sm" id="clienteCpf" name="clienteCpf" required>
								<option value="" readonly="true">Selecionar</option>
								<!-- <option value="{{produto.id}}">{{cliente.cpf}}</option> -->
							</select>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="form-group">
							<label>Nome </label>
							<input readonly="" type="text" class="form-control input-sm" id="nomeClienteComanda" name="nomeClienteComanda">
						</div>
					</div>
				</div>
				<div class="mb-3 form-check">
					<input type="checkbox" class="form-check-input" id="anonimo">
					<label class="form-check-label" for="exampleCheck1">Anônimo</label>
				</div>
				<br>	
					
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Código</label>
							<input type="textbox" class="form-control input-sm" id="codigo" name="codigo" data-nome="" data-id="">
						</div>
						<div class="form-group">
							<label>Produto</label>
							<select class="form-control input-sm" id="produtoVenda" name="produtoVenda">
								<option value="">Selecionar</option>
								<!--<option value="{{produto.id}}">{{produto.nome}}</option>--> 
							</select>
						</div>
						<div class="form-group">
							<label>Descrição</label>
							<textarea readonly="" id="descricaoV" name="descricaoV" class="form-control input-sm"></textarea>
						</div>
						<div class="form-group">
							<label>Quantidade Estoque</label>
							<input readonly="" type="text" class="form-control input-sm" id="quantidadeV" name="quantidadeV">
						</div>
						<div class="form-group">
							<label>Preço</label>
							<input readonly="" type="text" class="form-control input-sm" id="precoV" name="precoV">
						</div>	
						<div class="form-group">
							<label>Quantidade Vendida</label>
							<input type="number" class="form-control input-sm" id="quantV" name="quantV">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<span type="submit" class="btn btn-primary btn-block" id="btAddTemp">Adicionar</span>
					</div>
					<div class="col-sm-3">
						<span class="btn btn-danger" id="btnLimparComanda">Limpar Comanda</span>
					</div>
				</div>
			</form>	
		</div>
	</section>
    

	<section class="esquerda">
		<div class="row">
			<table id="tabelaComanda" class="table table-bordered table-hover table-condensed" style="text-align: center;">
				<thead>
					<tr class="table-primary">
					  <th scope="col">Nome</th>
					  <th scope="col">Descrição</th>
					  <th scope="col">Quantidade</th>
					  <th scope="col">Preço</th>
					  <th scope="col">Subtotal</th>
					  <!-- <th scope="col">Excluir</th> -->
					</tr>
				</thead>
				<tbody>
					
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3"></td>
						<th>Total</th>
						<td id="valorTotal">R$ 0,00</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<!-- <div class="row">
			<div class="col-sm-3">
				<span class="btn btn-success" id="gravarComanda">GRAVAR</span>
			</div>
		</div> -->
        <br>
        <div class="row">
			<div class="col-sm-4">
				<label>1ª Forma de pagamento</label>
				<div>
					<select class="form-control input-sm" id="pgUm" name="pgUm" required onchange="vezesCartao(value)">
						<option value="" readonly="true">Selecionar</option>
						<option value="1" >Dinheiro</option>
						<option value="2">Pix</option>
						<option value="3">Debito</option>
						<option value="4">Credito</option>
						<!-- <option value="{{produto.id}}">{{cliente.cpf}}</option> -->
					</select>
				</div>
			</div>
			<div id="vzsCartaoUm" class="col-sm-4">
				<label>x no cartão</label>
				<input type="number" class="form-control input-sm" name="vzsCartaoUm">
			</div>				
			<div class="col-sm-4">
				<label>Valor a pagar</label>
				<div>
					<!-- <input type="text"  class="form-control input-sm" id="valorUm" name="valorUm" data-thousands="." data-decimal="," data-prefix="R$ " /> -->
					<input type="text" class="form-control input-sm" id="valorUm" name="valorUm">
				</div>
			</div>
		</div>		

		<div id="pagamentoDois">
			<div class="row">
				<div class="col-sm-4">
					<label>2ª Forma de pagamento</label>
					<div>
						<select class="form-control input-sm" id="pgDois" name="pgDois" required onchange="vezesCartao(value)">
							<option value="" readonly="true">Selecionar</option>
							<option value="1" >Dinheiro</option>
							<option value="2">Pix</option>
							<option value="3">Debito</option>
							<option value="4">Credito</option>
							<!-- <option value="{{produto.id}}">{{cliente.cpf}}</option> -->
						</select>
					</div>
				</div>
				<div id="vzsCartaoDois" class="col-sm-4">
					<label>x no cartão</label>
					<input type="number" class="form-control input-sm" name="vzsCartaoDois">
				</div>
				<div class="col-sm-4">
					<label>Valor a pagar</label>
					<div>
						<input type="text" class="form-control input-sm" id="valorDois" name="valorDois">
					</div>
				</div>
			</div>
		</div>			
		<br>
		<div class="row">
			<div class="col-sm-3">
				<span type="submit" class="btn btn-primary btn-block" name="gravarVenda" id="gravarVenda" >GRAVAR</span>
			</div>
		</div>
	</section>
	
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
	/**
     * Todos os campos do formulario inativos ate escolher uma opcao no RadioOptions
     */
	$(document).ready(function(){
		$("#clienteCpf").prop("disabled", true);
		$("#nomeClienteComanda").prop("disabled", true);
		$("#codigo").prop("disabled", true);
		$("#descricaoV").prop("disabled", true);
		$("#produtoVenda").prop("disabled", true);
		$("#quantidadeV").prop("disabled", true);
		$("#precoV").prop("disabled", true);
		$("#quantV").prop("disabled", true);
		$("#anonimo").prop("disabled", true);
		$("#vzsCartaoUm").hide();
		$("#vzsCartaoDois").hide();
		$("#pagamentoDois").hide();
		$("#pgDois").hide();
		$("#valorUm").prop("disabled", true);
		$("#pgUm").prop("disabled", true);
	});

	function habilitarCampos(){
		$("#clienteCpf").prop("disabled", false);
		$("#nomeClienteComanda").prop("disabled", false);
		$("#codigo").prop("disabled", false);
		$("#produtoVenda").prop("disabled", false);
		$("#quantidadeV").prop("disabled", false);
		$("#precoV").prop("disabled", false);
		$("#quantV").prop("disabled", false);
		$("#descricaoV").prop("disabled", false);
		$("#anonimo").prop("disabled", false);
		$("#quantV").val(1);
		$("#valorUm").prop("disabled", false);
		$("#pgUm").prop("disabled", false);
		// $("#valorUm").maskMoney({prefix:'R$ ', allowNegative: true, thousands:'.', decimal:','});
	};

	function vezesCartao(){
		if($('#pgUm').val() == 4){
			$("#vzsCartaoUm").show();
		}else{
			$("#vzsCartaoUm").hide();
		}
		if($('#pgDois').val() == 4){
			$("#vzsCartaoDois").show();
		}else{
			$("#vzsCartaoDois").hide();
		}
	};

	/**
	* JSON para enviar a comanda
	*/
	var comanda = {
		cliente: null,
		numero: null,
		linhas:[]
	};

</script>

<script type="text/javascript">
	$('#anonimo').click(function(){
		if($('#anonimo')[0].checked == true){
			$("#grupoCpf").hide();
		}
		if($('#anonimo')[0].checked == false){
			$("#grupoCpf").show();
			$("#clienteCpf").prop("disabled", false);
			$("#nomeClienteComanda").prop("disabled", false);
		}
	});
</script>

<script type="text/javascript">
	$(document).ready(function(){
		/**
		* Tras informaçoes para o select
		*/
		$("#clienteCpf").select2({
			language: "pt-BR",
			minimumInputLength: 14,
    		ajax: {
                url: 'pesquisar-cliente',
                dataType: 'json',
                success:function(r){
					$('#nomeClienteComanda').val(r.results[0]['nome'] + " " + r.results[0]['sobrenome']);
					comanda.cliente = r.results[0]['id'];
					// if('#clienteCpf'){
					// 	$("#clienteCpf").prop("disabled", true);
					// 	//$("#nomeClienteComanda").prop("disabled", true);
					// }
				}
            }
        })
		//Coloca mascara no select2
		.on("select2:open", function () {
			$(".select2-search__field")
			.attr("type","text")
			.mask("000.000.000-00");  
		});
		
		/**
		 * select de produto .. tras o id e o nome
		 */
        $("#produtoVenda").select2({
			language: "pt-BR",
            minimumInputLength: 3,
            ajax: {
                url: 'pesquisar-produto',
                dataType: 'json'
            }
        });

		$("#pgUm").select2();
		$("#pgDois").select2();
	});
</script>

<script type="text/javascript">
	/**
	* Entter para pesquisar
	*/
	$('#codigo').on('keypress',function(e) {
		if(e.which == 13) {
			$.ajax({
				type:"POST",
				data:"codigo=" + $('#codigo').val(),
				url:"pesquisar-prod-est-codigo",
				success:function(r){
					console.log('resposta',r);
					var resp = JSON.parse(r);
					if(resp.length > 0){
						$('#codigo').attr('data-id', parseInt(resp[0]['id']));
						$('#codigo').attr('data-nome', resp[0]['nome']);
						$('#descricaoV').val(resp[0]['descricao']);
						$('#quantidadeV').val(resp[0]['quantotal']);
						$('#precoV').val(resp[0]['preco_ven']);

						$('#btAddTemp').click(); 
						$('#valorUm').focus();
					}
				}
			});
		}
	});

	/**
	* Entter inserir codigo da comanda
	*/
	$('#numeroComanda').on('keypress',function(e) {
		if(e.which == 13) {
			$.ajax({
				type: "POST",
				data: "numero=" + $('#numeroComanda').val(),
				url: "obter-dados-numero",
				success:function(r){
                    // console.log('r', r);
					if(r != 'false' && r != 'fechadafalse'){
						var resp = JSON.parse(r);
                        comanda = resp;
                        itensSoma($('#tabelaComanda'));
		                atualizarTabela($('#tabelaComanda'));
						habilitarCampos();
						$('#valorUm').focus();
                        console.log(comanda);
                    }
					if(r == 'fechadafalse'){
						var numeroComanda = $('#numeroComanda').val();
						apagarForm();
						$('#numeroComanda').val(numeroComanda);
						alertify.success('Comanda fechada.');
					}
					if(r == 'false'){
						var numeroComanda = $('#numeroComanda').val();
						apagarForm();
						$('#numeroComanda').val(numeroComanda);
						habilitarCampos();
						alertify.success('Nova comanda.');
					}
				}
			});
		}
	});
</script>

<script type="text/javascript">
	/**
	 * Coloca os itens na tabela temporaria
	 */
	function atualizarTabela(tabela) {
		var tbody = tabela.find('tbody');
		tbody.empty();
		i=0;
		comanda.linhas.forEach(linha => {
			tbody.append(`<tr id="${i++}"> <th>${linha.nomeProduto}</th> <td>${linha.descricaoV}</td>  <td>${linha.quantV}</td> <td>${parseFloat(linha.precoV).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}</td><td> ${(linha.quantV*linha.precoV).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}</td><td class="btn-danger glyphicon glyphicon-remove" id="remove" onclick="apagarItem(${i}, ${linha.produtoVenda})"></td></tr>`);
		});
	};

	/**
	 * Faz a soma do subtotal
	 */
	function itensSoma(tabela) {
		var total = tabela.find('#valorTotal');
		total.html('R$ 0,00');
		var soma = 0.0;
		comanda.linhas.forEach(linha => {
			soma += linha.quantV*linha.precoV;
		});
		total.html(soma.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}));
		valorPagar(soma);
	}

	/**
	 * Apaga tds os dados do formulario
	 */
	function apagarForm() {
		comanda={
			cliente: null,
			numero: null,
			linhas:[]
		};
		itensSoma($('#tabelaComanda'));
		atualizarTabela($('#tabelaComanda'));
		$('#frmComanda')[0].reset();
		$('#produtoVenda').val(null).trigger('change');//reseta o select2
		$('#clienteCpf').val(null).trigger('change');
		$('#quantV').val(1);
		$('#codigo').attr('data-id', "");
		$('#codigo').attr('data-nome', "");
		$('#grupoCpf').show();
		$('#pgUm').val(null).trigger('change');
	}

	/**
	 * Apaga item da tabela temp
	 */
	 function apagarItem(i, idproduto){
		var dados = {
		// 	id_produto: idproduto,
			id_comanda_fatura: parseInt(comanda.id)
		};
		var tbody = $('#tabelaComanda').find('tr')[i];
		if(dados.id_comanda_fatura){
			$.ajax({
				type:"DELETE",
				data: dados,
				url:"apaga-prod-comanda",
				success:function(r){
					if(r == true){
						// console.log('r',r);
						tbody.remove();
						delete comanda.linhas[i-1];
						itensSoma($('#tabelaComanda'));
						atualizarTabela($('#tabelaComanda'));
					}else{
						alertify.error("Não foi possível excluir");	
					}
				}
			});
		}else{
			tbody.remove();
			delete comanda.linhas[i-1];
			itensSoma($('#tabelaComanda'));
			atualizarTabela($('#tabelaComanda'));
		}
	}
</script>

<script type="text/javascript">
	/**
	* Cria a comanda ENVIAR PARA O BANCO
	*/
	$('#gravarVenda').click(function() {
		if($('#anonimo')[0].checked || $('#nomeClienteComanda').val() != ""){
			if($('#pgUm').val() != ""){
				var dados={
					cliente: (comanda.cliente!=null?parseInt(comanda.cliente):null),
					numero: (comanda.numero!=null?(comanda.numero):null),
					pg_forma1: $('#pgUm').val(),
					valor_total1: $('#valorUm').val(),
					pg_forma2: $('#pgDois').val(),
					valor_total2: $('#valorDois').val(),
					vzs_cartao: $('#vzsCartaoUm').val(),
					linhas:[]
				};
			
				comanda.linhas.forEach(linha =>{
					var novaLinha = {
						id_produto: parseInt(linha.produtoVenda),
						quantidade: parseInt(linha.quantV),
						quant_estoque: linha.quantidadeV,
						valor_unitario: parseFloat(linha.precoV)
					};
					dados.linhas.push(novaLinha);
					// console.log('dados.Gravar',dados.linhas);
					apagarForm();
				});
				console.log('dados', dados);

				$.ajax({
					type:"POST",
					data: dados,
					url:"gravar-venda",
					success:function(r){
						console.log('respostaGravou1',r);
						// var resp = JSON.parse(r);
						// console.log('respostaGravou2',resp);
						if(r){	
							// console.log('resp',resp.resp);
							$('#codigo').val('');
							$('#clienteCpf').val(null).trigger('change');
							$('#nomeClienteComanda').val('');
							apagarForm();
							alertify.success("Venda efetuada!!");
						}else{
							alertify.error("Falha ao Adicionar");
						}
						
					}
				});
			}else{alertify.alert("Preencher forma de pagamento!");}

		}else{alertify.alert("Preencher o CPF!");} 
	});
	
</script>


<script type="text/javascript">
	$(document).ready(function(){

		// $('#clienteCpf').change(function(){
		// 	$.ajax({
		// 		type:"POST",
		// 		data:"idcliente=" + $('#clienteCpf').val(),
		// 		url:"obter-dados-cli",
		// 		success:function(r){
		// 			dado=jQuery.parseJSON(r);
		// 			$('#nomeClienteComanda').val(dado['nome'] + " " + dado['sobrenome']);
		// 		}
		// 	});
		// });


		/**
		 * Completa os campos do produto de acordo com o id do select
		 */
		$('#produtoVenda').change(function(){
			$.ajax({
				type:"POST",
				data:"id=" + $('#produtoVenda').val(),
				url:"pesquisar-prod-est",
				success:function(r){
					var resp = JSON.parse(r);
					if(resp.length > 0){
						$('#descricaoV').val(resp[0]['descricao']);
						$('#quantidadeV').val(resp[0]['quantotal']);
						$('#precoV').val(resp[0]['preco_ven']);	
					}
				}
			});
		});

		$('#quantV').click(function(){

			var quant = parseInt($('#quantV').val());
			var quantidade = parseInt($('#quantidadeV').val()); 
			
			if(quant > quantidade){
				alertify.alert("Quantidade inexistente em estoque!!");
				quant = $('#quantV').val("");
				return false;
			}else{
				quantidade = $('#quantidadeV').val();
			}
		});


		/**
		* Adiciona os itens na tabela temporaria 
		*/
		$('#btAddTemp').click(function(){
			
			var quant = parseInt($('#quantV').val());
			var quantidade = parseInt($('#quantidadeV').val());

			
			if(quant > quantidade){
				alertify.alert("Quantidade inexistente em estoque!!");
				quant = $('#quantV').val("");
				return false;
			}else{
				quantidade = $('#quantidadeV').val();
			}
			
			if($('#quantV').val() == "" || $('#quantV').val() <= 0){
				alertify.alert("Preencha a quantidade desejada!!");
				return false;
			}

			/**
			* Pega as informaçoes do formulario e transforma em json para adicionar no array
			*/
			var jsonData = {};
			var formData = $("#frmComanda").serializeArray();

			$.each(formData, function() {
				if (jsonData[this.name]) {
				if (!jsonData[this.name].push) {
						jsonData[this.name] = [jsonData[this.name]];
				}
					jsonData[this.name].push(this.value || '');
				} else {
					jsonData[this.name] = this.value || '';
				}
			});
			if($('#codigo').val() == ""){
				jsonData['nomeProduto'] = $('#produtoVenda option:selected').text();
			}else{
				jsonData['produtoVenda'] = $('#codigo').attr('data-id');
				jsonData['nomeProduto'] = $('#codigo').attr('data-nome');
			}
			
			/**
			* Coloca os itens temporarios na tabela
			*/
			comanda.linhas.push(jsonData);
			
			itensSoma($('#tabelaComanda'));
			atualizarTabela($('#tabelaComanda'));
			
			$('#produtoVenda').val(null).trigger('change');//reseta o select2
			$('#quantV').val(1);
			$('#precoV').val('');
			$('#descricaoV').val('');
			$('#quantidadeV').val('');
			$('#codigo').val('');
			$('#codigo').attr('data-id', "");
			$('#codigo').attr('data-nome', "");
		});


		/**
		*Botao limpar formulario
		*/
		$('#btnLimparComanda').click(function(){
			apagarForm();
			console.log('ak');
		});

	});
</script>

<script type="text/javascript">
	function valorPagar(soma){
		// $('#valorUm').maskMoney('mask', soma);
		// console.log(formatter);
		var formatter = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
		var valorSoma = soma;
		// console.log(valorSoma);
		$('#valorUm').val(valorSoma);

		$('#valorUm').change(function(){
			var valorUm = parseFloat($('#valorUm').val()) ;
			// console.log(valorUm);
			if(valorUm < valorSoma){
				var valorDois = soma - valorUm;
				$("#pagamentoDois").show();
				// $('#valorDois').val(formatter.format(valorDois));
				$('#valorDois').val(parseFloat(valorDois).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}));
				// console.log('valorDoiS', valorDois);
			} else {
				$("#pagamentoDois").hide();
			}
		});
		// $('#valorUm').focus();
		// var formatter = new Intl.NumberFormat('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
		// var valorSoma = soma;
		// $('#valorUm').val(formatter.format(valorSoma));
		// console.log('ak1',$('#valorUm').val());
		// $('#valorUm').change(function(){
		// 	var valorUm = $('#valorUm').maskMoney('unmasked')[0] ;
		// 	console.log('ak2',$('#valorUm').val());
		// 	if(valorUm < valorSoma){
		// 		console.log('ak3',valorUm);
		// 		var valorDois = soma - valorUm;
		// 		$("#pagamentoDois").show();
		// 		$('#valorDois').val(formatter.format(valorDois));
		// 		// console.log('valorDoiS', valorDois);
		// 	}
		// });
	};
</script>



{% endblock %}