{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}

<!-- Modal -->
<div class="modal fade" id="atualizarUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Atualizar Cliente</h4>
            </div>
            <div class="modal-body">
                <form id="frmProdutovU" enctype="multipart/form-data">
                    <input type="text" hidden="" id="idprodvU" name="idprodvU">
                    
                    <label>Brinquedo</label>
                    <select class="form-control input-sm" id="idProdutoU" name="idProdutoU">
                        <option value="A">Selecionar</option>
                        {% for produto in produtos %}
                        <option value="{{produto.id}}">{{produto.nome}}</option>
                        {% endfor %}
                    </select>
                    <label>Lote</label>
                    <input type="text" class="form-control input-sm" id="loteU" name="loteU">
                    <label>Quantidade</label>
                    <input type="text" class="form-control input-sm" id="quantidadeU" name="quantidadeU">
                    <label>Preço comprado</label>
                    <input type="text" class="form-control input-sm" id="compU" name="compU">
                    <label>Preço vendido</label>
                    <input type="text" class="form-control input-sm" id="venU" name="venU">

                </form>
            </div>
            <div class="modal-footer">
                <button id="btnAtualizarProdutovU" class="btn btn-primary col-md" data-dismiss="modal">Atualizar</button>

            </div>
        </div>
    </div>
</div> 

<div class="container">
<div class="row">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="cliente-add">Cadastro</a></li>
        <li role="presentation"><a href="cliente-tabela">Lista</a></li>
    </ul>
</div>	
</br>
<div class="row">
    <div class="col-sm-6">
        <form method="post" id="frmClientes">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Primeiro Nome">
            </div>
            <div class="form-group">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Sobrenome">
            </div>
            <!-- <div class="form-group">
                <label for="endereco">Endereço</label>
                <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço completo">
            </div> -->
            <div class="form-group">
                <label for="email">Endereço de email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="nome@exemplo.com" onblur="validateEmail(this)">
            </div>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Só números">
            </div>
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Só números" onblur="validarCPF(this)"/>
            </div>
            
                <span type="submit" class="btn btn-primary btn-block" id="btnAdicionarCliente">Adicionar</span>
            
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
    $(document).ready(function(){
        $("#cpf").mask("000.000.000-00");
        $("#telefone").mask("(00)00000-0000");
        $("#cpfU").mask("000.000.000-00");
        $("#telefoneU").mask("(00)00000-0000");

    })
    
    function validarCPF(el){
            if( !_cpf(el.value) ){
                alertify.error("CPF inválido!");
                // apaga o valor
                el.value = "";
            }
    }

    function validateEmail(email) {
         if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email.value)){
            return (true);
          }
        alertify.error("E-mail inválido!");
        email.value = "";
        return (false);
    }
    
</script>


<script type="text/javascript">
    $(document).ready(function(){

        //$('#tabelaClientesLoad').load("tabClientes.php");

        $('#btnAdicionarCliente').click(function(){

            vazios=validarFormVazio('frmClientes');
            
            if(vazios > 0){
                alertify.alert("Preencha os Campos!!");
                return false;
            }
            
            dados=$('#frmClientes').serialize();

            $.ajax({
                type:"POST",
                data:dados,
                url:"cliente-add",
                success:function(r){
                    console.log(r);
                    var resp = JSON.parse(r);
                    if(resp){
                        $('#frmClientes')[0].reset();
                        // $('#tabelaClientesLoad').load("tabClientes.php");
                        alertify.success("Cliente Adicionado");
                    }else{
                        alertify.error("Não foi possível adicionar");
                    }
                }
            });
        });
    });
</script>

{% endblock %}