{% extends "base.html" %}

{% block stylesheet %}
{% endblock %}

{% block title %}Relatório do cliente{% endblock %}

{% block body %}

<div class="container">

    <form id="frmRelatorioCliente">
        <div class="row">  
            <div class="col-sm-3">
                <label>Data Inicial</label>
            </div>
            <div class="col-sm-3">
                <label>Data Final</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <input type="date" class="form-control input-sm " name="dtInicial" id="dtInicial">
            </div>
            <div class="col-sm-3">
                <input type="date" class="form-control input-sm" name="dtFinal" id="dtFinal">
            </div>
            <div class="col-sm-3">
                <span class="btn btn-primary btn-block" onclick="enviar('{{cliente.id}}')">Enviar</span>
            </div>
            <!-- <a class="btn btn-primary"  role="button">Enviar</a> -->
        </div>
    </form>
    <br>
    <br>

    <div class="row">
        <div class="col-sm-11">
            <div class="card " style="border-radius: 1rem; border-color: rgb(134, 47, 160)">
                <div class="card-body">
                    <h4>Informaçoes do cliente</h4>
                    <h5 class="card-title">Nome: {{ cliente.getNomeCompleto() }}</h5>
                    <p class="card-text">CPF: {{ cliente.cpf }}</p>
                    <p class="card-text">Telefone: {{ cliente.telefone }}</p>
                </div>
            </div>
        </div>
    </div>
    
    <br>
    <br>

    <div id="totalGeral">
        <div class="row">
            <div class="card-deck">
                <div class="card text-white bg-secondary col-sm-3" style="margin-right: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">Total de vendas</h5>
                        <p class="card-text" >{{cliente.totalVendas}}</p>
                    </div>
                </div>
                <!-- <div class="card col-sm-3"></div> -->
                <div class="card text-white bg-secondary col-sm-3" >
                    <div class="card-body">
                        <h5 class="card-title">Total liquido</h5>
                        <p class="card-text" >{{cliente.totalLiquido}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="totalDatas">
        <div class="row">
            <div class="card-deck">
                <div class="card text-white bg-secondary col-sm-3" style="margin-right: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">Total de vendas</h5>
                        <input id="totalVendas" class="card text-white bg-secondary" style="border: transparent;"> 
                    </div>
                </div>
                <!-- <div class="card col-sm-3"></div> -->
                <div class="card text-white bg-secondary col-sm-3" >
                    <div class="card-body">
                        <h5 class="card-title">Total liquido</h5>
                        <input id="totalLiquido" class="card text-white bg-secondary" style="border: transparent;"> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        <div class="row">
            <table id="vendasPeriodo" class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                      <th scope="col">Data </th>
                      <th scope="col">Fatura</th>
                      <th scope="col">Total da Venda</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#totalDatas').hide();
        $('#vendasPeriodo').hide();
    });


    function enviar(idCliente) {
        if($('#dtInicial').val() == null || $('#dtInicial')[0].value < $('#dtFinal')[0].value){
            var dados={
                idCliente: idCliente,
                dtInicial: $('#dtInicial')[0].value,
                dtFinal: $('#dtFinal')[0].value
            }
            console.log(dados);
            $.ajax({
                type:"POST",
                data: dados,
                url:"cliente-relatorio-venda",
                success:function(r){
                    var resp = jQuery.parseJSON(r);
                    console.log(resp.cliente);
                    if(resp.dados['totalLiquido'] != null){
                        $('#totalGeral').hide();
                        $('#totalDatas').show();
                        $('#totalVendas').val(resp.dados['totalVendas']);
                        $('#totalLiquido').val(parseFloat(resp.dados['totalLiquido']).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}));

                        $('#vendasPeriodo').show();
                        var tbody = $('#vendasPeriodo').find('tbody');
                        tbody.empty();
                        resp.cliente.forEach(linha => {
                            tbody.append(`<tr> <th>${linha.data}</th> <td>${linha.item.replace(',', '<br>')}</td> <td>${parseFloat(linha.total).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}</td> </tr>`);
                        });
                    }else{
                        $('#totalVendas').val('');
                        $('#totalLiquido').val('');
                        alertify.error("Nao ha vendas nesse periodo");
                    }
                    // $('#totalLiquido').val(resp['totalLiquido']);
                } 
            });
        }else{
            alertify.error("Datas invalidas!");
        }
    }
    
</script>
{% endblock %}

