{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block stylesheet %}
<style>
	td {text-align: center;}
    th {text-align: center;}
</style>
{% endblock %}

{% block body %}

<!-- Modal -->
<div class="modal fade" id="atualizaCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Atualizar Cliente</h4>
            </div>
            <div class="modal-body">
                <form id="frmClientesU">
                    <input type="text" hidden="" id="idclienteU" name="idclienteU">
                    <label>Nome</label>
                    <input type="text" class="form-control input-sm" id="nomeU" name="nomeU">
                    <label>Sobrenome</label>
                    <input type="text" class="form-control input-sm" id="sobrenomeU" name="sobrenomeU">
                    <label>E-mail</label>
                    <input type="text" class="form-control input-sm" id="emailU" name="emailU">
                    <label>Telefone</label>
                    <input type="text" class="form-control input-sm" id="telefoneU" name="telefoneU">
                    <!-- <label>CPF</label>
                    <input type="text" class="form-control input-sm" id="cpfU" name="cpfU">
                    <small id="errocpf" class="vermelho"></small> -->
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnAdicionarClienteU" class="btn btn-primary col-md" data-dismiss="modal">Atualizar</button>

            </div>
        </div>
    </div>
</div>

<div class="container" id="tabela">
    <a class="btn btn-primary" href="cliente-add" role="button">Novo Cliente</a>
    <!-- <div class="row">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ><a href="cliente-add">Cadastro</a></li>
            <li role="presentation" class="active" color="red"><a href="cliente-tabela">Lista</a></li>
        </ul>
    </div>	 -->
    </br>

<!--Tabela-->

    <div class="table-responsive" >
    </br>
        <caption><label>Clientes</label></caption> 
            </br>
    
        <table class="table table-hover table-condensed table-bordered" >
    
             <div ><input class="col-sm-6" id="filtro-nome" placeholder="Nome"/></div></br>
             </br>
    
            <thead>	
                 <tr>
                     <th>Nome</th>
                     <th>Sobrenome</th>
                     <th>E-mail</th>
                     <th>Telefone</th>
                     <th>CPF</th>
    
                     <th>Editar</th>
                     <!-- <th>Excluir</th> -->
                     <th>Visualizar</th>
                 </tr>
                 
             </thead>
    
             <tbody>	
                {% for cliente in clientes %}
                 <tr>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.sobrenome}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.telefone}}</td>
                    <td>{{cliente.cpf}}</td>
                    <td>
                        <span class="btn btn-warning btn-xs" data-toggle="modal" data-target="#atualizaCliente" onclick="editarCliente('{{cliente.id}}')">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                    </td>
                    <!-- <td>
                        <span class="btn btn-danger btn-xs" onclick="inativarCliente('{{cliente.id}}')">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>
                    </td> -->
                    <td>
                        <a class="btn btn-primary btn-xs" href="cliente-venda?cliente={{cliente.id}}" role="button">
                          <span class="glyphicon glyphicon-list-alt"></span>
                        </a>
                    </td>
                 </tr>
                {% endfor %} 
             </tbody>
        </table>
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if pagina > 1 %} 
                  <li class="page-item">
                    <a class="page-link" href="{{route}}?itensPag={{itensPag}}&pagina={{pagina-1}}{{busca != ''?'&busca='~busca:''}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  {% endif %}
        
                  {% for i in 1..totalpaginas %}
                  <li class="page-item"><a class="page-link" href="{{route}}?itensPag={{itensPag}}&pagina={{i}}{{busca != ''?'&busca='~busca:''}}">{{i}}</a></li>
                  {% endfor %}
        
                  {% if totalpaginas > pagina %}
                  <li class="page-item">
                    <a class="page-link" href="{{route}}?itensPag={{itensPag}}&pagina={{pagina+1}}{{busca != ''?'&busca='~busca:''}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
	// $('#filtro-nome').keyup(function(e) {
    //     if(e.which == 13) {
    //         var nomeFiltro = $(this).val().toLowerCase();
    //         $(location).attr('href', '{{route}}?itensPag={{itensPag}}&pagina=1&busca='+nomeFiltro);
    //     }
    // });

    $('.pagination li a').click(function(event){
        event.preventDefault();
        $('#tabela').load(event.currentTarget.href);
        return false;
    });

    $('#filtro-nome').keyup(function(e) {
        if(e.which == 13) {
            var nomeFiltro = $(this).val().toLowerCase();
            // $(location).attr('href', '{{route}}?itensPag={{itensPag}}&pagina=1&busca='+nomeFiltro);
            $('#tabela').load('{{route}}?itensPag={{itensPag}}&pagina=1&busca='+nomeFiltro);
        }
    });
</script>

<script type="text/javascript">
    function inativarCliente(idcliente){
        alertify.confirm('Deseja inativar este cliente?', function(){ 
            $.ajax({
                type:"POST",
                data:"idcliente=" + idcliente,
                url:"cliente-inativar",
                success:function(r){
                    if(r){
                        $('#tabela').load("cliente-tabela");
                        alertify.success("Inativado!");
                    }else{
                        alertify.error("Erro");
                    }
                }
            });
        }, function(){ 
            alertify.error('Cancelado !')
        });
    }

    function editarCliente(idcliente){
        $.ajax({
            type:"POST",
            data:"idcliente=" + idcliente,
            url:"cliente-obter",
            success:function(r){
                var resp = JSON.parse(r);
                // console.log(resp);
                $('#idclienteU').val(resp['id']);
                $('#nomeU').val(resp['nome']);
                $('#sobrenomeU').val(resp['sobrenome']);
                $('#emailU').val(resp['email']);
                $('#telefoneU').val(resp['telefone']);
                // $('#cpfU').val(resp['cpf']);
            }
        });
    }


    $('#btnAdicionarClienteU').click(function(){
        dados=$('#frmClientesU').serialize();
        // console.log(dados);
        $.ajax({
            type:"POST",
            data:dados,
            url:"cliente-atualizar",
            success:function(r){
                console.log(r);
                if(true){
                    $('#tabela').load("cliente-tabela");
                    alertify.success("Cliente atualizado com sucesso!");
                }else{
                    alertify.error("Não foi possível atualizar cliente");
                }
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#cpf").mask("000.000.000-00");
        $("#telefone").mask("(00)00000-0000");
        $("#cpfU").mask("000.000.000-00");
        $("#telefoneU").mask("(00)00000-0000");
        $("#btvalidar").mask("000.000.000-00");

    })
    
    function validarCPF(el){
            if( !_cpf(el.value) ){
                alertify.error("CPF inválido!");
                // apaga o valor
                el.value = "";
            }
    }

    function validateEmail(email) {
         if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email.value)){
            return (true);
          }
        alertify.error("E-mail inválido!");
        email.value = "";
        return (false);
    }
    
</script>

{% endblock %}