{% extends "base.html" %}

{% block title %}Brinquedos{% endblock %}

{% block body %}

<!-- Modal -->
<div class="modal fade" id="atualizarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar Produto</h4>
            </div>
            <div class="modal-body">
                <form id="frmProdutosU" enctype="multipart/form-data">
                    <input type="text" id="idProduto" hidden="" name="idProduto">
                    <label>Nome</label>
                    <input type="text" class="form-control input-sm" id="nomeU" name="nomeU">
                    <label>Código</label>
                    <input type="text" class="form-control input-sm" id="codigoU" name="codigoU">
                    <label>Descrição</label>
                    <input type="text" class="form-control input-sm" id="descricaoU" name="descricaoU">
                    <label>Categoria</label>
                    <select class="form-control input-sm" id="categoriaU" name="categoriaU" >
                        <option value="">Selecionar</option>
                        {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria.categoria}}</option>
                        {% endfor %}
                    </select>
                    <!-- <label>Imagem</label>
                    <input type="file" id="imagem" name="imagem"> -->
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnAtualizarProduto" type="button" class="btn btn-warning" data-dismiss="modal">Atualizar</button>

            </div>
        </div>
    </div>
</div>

<!--Formulario-->
<div class="container" style="margin-top: -45px;">
    <h2>Produtos</h2>
    <div class="row">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="produto-form">Cadastrar Produtos</a></li>
            <li role="presentation"><a href="produto-venda">Preço para venda</a></li>
            <li role="presentation"><a href="estoque">Estoque</a></li>
        </ul>
    </div>	
    </br>
    <div class="row">
        <div class="col-sm-4">
            <form id="frmProdutos" method="post">

                <label>Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
                <label>Código</label>
                <input type="text" class="form-control" id="codigo" name="codigo" required>
                <label>Descrição</label>
                <input type="text" class="form-control" id="descricao" name="descricao" required>
                <label>Categoria</label>
                <select class="form-control" id="categoria" name="categoria" required>
                    <option value="">Selecionar</option>
                    {% for categoria in categorias %}
                    <option value="{{categoria.id}}">{{categoria.categoria}}</option>
                    {% endfor %}
                </select>
                <label>Imagem</label>
                <input type="file" id="imagem" name="imagem" required>
                <p></p>
                <span type="submit" id="btnAddProduto" class="btn btn-primary btn-block">Adicionar</span>
            </form>
        </div>
        <div class="col-sm-8">
            <div id="tabelaProdutosLoad"></div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascript %}

<script type="text/javascript">
    $('#codigo').on('keypress',function(e) {
		if(e.which == 13) {
			e.preventDefault();
        }
    });

    function atualizarProduto(idproduto){
        //alert(idproduto);
        $.ajax({
            type:"POST",
            data:"id=" + idproduto,
            url:"produto-obter",
            success:function(r){
                dado=jQuery.parseJSON(r);
                $('#idProduto').val(dado['id']);
                $('#nomeU').val(dado['nome']);
                $('#codigoU').val(dado['codigo']);
                $('#descricaoU').val(dado['descricao']);
                $('#categoriaU').val(dado['id_categoria']);
            }
        });
    }

    function excluirProduto(idproduto){
        alertify.confirm('Deseja Excluir este Produto?', function(){ 
            $.ajax({
                type:"POST",
                data:"id=" + idproduto,
                url:"produto-apagar",
                success:function(r){
                    var resp = JSON.parse(r);
                    if(resp == true){
                        $('#tabelaProdutosLoad').load("tab-produto");
                        alertify.success("Excluido com sucesso!!");
                    }else{
                        alertify.error("Lote contem este produto!");
                    }
                }
            });
        }, function(){ 
            alertify.error('Cancelado !')
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#btnAtualizarProduto').click(function(){
            dados=$('#frmProdutosU').serialize();
            $.ajax({
                type:"POST",
                data:dados,
                url:"produto-atualizar",
                success:function(r){
                    var resp = JSON.parse(r);
                    if(resp == true){
                        $('#tabelaProdutosLoad').load("tab-produto");
                        alertify.success("Editado com sucesso!!");
                    }else{
                        alertify.error("Erro ao editar");
                    }
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#tabelaProdutosLoad').load("tab-produto");

        $('#btnAddProduto').click(function(){
            // vazios=validarFormVazio('frmProdutos');
            // if(vazios > 0){
            //     alertify.alert("Preencha todos os campos!!");
            //     return false;
            // }
            $('#frmProdutos')[0].reportValidity();
            if(!$('#frmProdutos')[0].checkValidity()){
                console.log('entrou if');
                return false;
            }
            var formData = new FormData(document.getElementById("frmProdutos"));
            $.ajax({
                type: "POST",
                data: formData,
                dataType: "html",
                cache: false,
				contentType: false,
				processData: false,
                url: "produto-form",
                success:function(r){
                    // console.log('respostaGravou1',r);
                    var resp = JSON.parse(r);
                    if(resp.resp){	
                        $('#frmProdutos')[0].reset();
                        $('#categoria').val(null).trigger('change'); 
                        $('#tabelaProdutosLoad').load("tab-produto");
                        alertify.success("Adicionado com sucesso!!");
                    }else{
                        alertify.error("Falha ao Adicionar");
                    }
                }
            });  
        });
    });
</script>

<script type="text/javascript">
$(document).ready(function(){
    $('#categoria').select2();
});
</script>


{% endblock %}