{% block body %}

<table class="table table-hover" id="lista">
	<caption><label>Produtos</label></caption>
    </br>
    <div class="col-4"><input class="col-sm-4" id="filtro-nome" value="{{busca != ''?busca:''}}" placeholder="Nome"/></div></br>
	<thead>
	<tr>
		<th>Nome</th>
		<th>Código</th>
		<th>Descrição</th>
		<th>Categoria</th>
		<th>Imagem</th>

		<th>Editar</th>
		<th>Excluir</th>
	</tr>
	</thead>
	
	<tbody>
        {% for produto in produtos %}
        <tr>
            
            <td>{{produto.nome}}</td>
            <td>{{produto.codigo}}</td>
            <td>{{produto.descricao}}</td>
            <td>{{produto.categoria}}</td>
            <td><img width="60" height="60" src="{{produto.url}}"></td>	
            
            <td>
                <span  data-toggle="modal" data-target="#abremodalUpdateProdutov" class="btn btn-warning btn-xs" onclick="adicionarProdutov('{{ produto.id }}')">
                    <span class="glyphicon glyphicon-pencil"></span>
                </span>
            </td>
            <td>
                <span class="btn btn-danger btn-xs" onclick="deletarProdutov('{{ produto.id }}')">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
            </td>

        </tr>
        {% endfor %}
	</tbody>
</table>
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if pagina > 1 %} 
          <li class="page-item">
            <a class="page-link" href="{{route}}?itensPag={{itensPag}}&pagina={{pagina-1}}{{busca != ''?'&busca='~busca:''}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          {% for i in 1..totalpaginas %}
          <li class="page-item"><a class="page-link" href="{{route}}?itensPag={{itensPag}}&pagina={{i}}{{busca != ''?'&busca='~busca:''}}">{{i}}</a></li>
          {% endfor %}

          {% if totalpaginas > pagina %}
          <li class="page-item">
            <a class="page-link" href="{{route}}?itensPag={{itensPag}}&pagina={{pagina+1}}{{busca != ''?'&busca='~busca:''}}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
    </nav>
</div>


{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$('.pagination li a').click(function(event){
        event.preventDefault();
        $('#tabelaProdutosLoad').load(event.currentTarget.href);
        return false;
    });

    $('#filtro-nome').keyup(function(e) {
        if(e.which == 13) {
            var nomeFiltro = $(this).val().toLowerCase();
            // $(location).attr('href', '{{route}}?itensPag={{itensPag}}&pagina=1&busca='+nomeFiltro);
            $('#tabelaProdutosLoad').load('{{route}}?itensPag={{itensPag}}&pagina=1&busca='+nomeFiltro);
        }
    });
</script>
{% endblock %}