
{% block stylesheet %}
<style>
	td {text-align: center;}
    th {text-align: center;}
</style>
{% endblock %}

{% block body %}

<div class="table-responsive">
</br>
	<caption><label>Usuários</label></caption> 
		</br>

	 <table class="table table-hover table-condensed table-bordered"  id="lista">

	 	<div ><input class="col-sm-6" id="filtro-nome" placeholder="Nome"/></div></br>
	 	</br>

		<thead>	
		 	<tr>
		 		<th>Nome</th>
		 		<th>Sobrenome</th>
		 		<th>Email</th>
		 		<th>Cargo</th>

		 		<th>Editar</th>
		 		<th>Excluir</th>
		 	</tr>
			 
 		</thead>

 		<tbody>	
			{% for usuario in usuarios %}
		 	<tr>
		 		<td>{{usuario.nome}}</td>
		 		<td>{{usuario.sobrenome}}</td>
		 		<td>{{usuario.email}}</td>
		 		<td>{{usuario.getCargoNome()}}</td>
		 		<td>
					<span class="btn btn-warning btn-xs" data-toggle="modal" data-target="#atualizarUsuario" onclick="adicionarDados('{{usuario.id}}')">
						<span class="glyphicon glyphicon-pencil"></span>
					</span>
				</td>
				<td>
					<span class="btn btn-danger btn-xs" onclick="deletarUsuario('{{usuario.id}}')">
						<span class="glyphicon glyphicon-remove"></span>
					</span>
				</td>
		 	</tr>
			 {% endfor %}
	 	</tbody>
	</table>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$('#filtro-nome').keyup(function() {
		var nomeFiltro = $(this).val().toLowerCase();
		$('table tbody').find('tr').each(function() {
		    var conteudoCelula = $(this).find('td:first').text();
		    var corresponde = conteudoCelula.toLowerCase().indexOf(nomeFiltro) >= 0;
		    $(this).css('display', corresponde ? '' : 'none');
		});
	});
</script>
{% endblock %}