{% extends "base.html" %}

{% block title %}Usuários{% endblock %}

{% block body %}

<div class="container">
    <h3>Administrar Usuário</h3>
    
    <form id="frmUsuario">
        <div class="row">
            <div class="col-sm-4">
                <label>Nome</label>
                <input type="text" class="form-control input-sm" name="nome" id="nome">
                <label>Sobrenome</label>
                <input type="text" class="form-control input-sm" name="sobrenome" id="sobrenome">
                <label>Email</label>
                <input type="text" class="form-control input-sm" name="email" id="email">
                <label>Senha</label>
                <input type="text" class="form-control input-sm" name="senha" id="senha">
                <br>
                <!-- <label>Funções</label> -->
                <!-- <select class="form-control input-sm" id="cargo" name="cargo">
                    <option value="A">Selecionar Categoria</option>
                    <option value="2">Gerente</option>
                    <option value="3">Caixa</option>
                    <option value="4">Vendedor</option>
                    <option value="1">Administrador</option>
                </select> -->
                <span class="btn btn-primary btn-block" id="adicionarUsuario">Adicionar</span>
            </div> 
         
            <div class="col-sm-4">
                <div class="container">
                    <label style="color: black;">Cargos</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="administrador" value="administrador" name="cargo">
                        <label class="form-check-label" for="administrador">Administrador</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="gerente" value="gerente" name="cargo">
                        <label class="form-check-label" for="gerente">Gerente</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="supervisor" value="supervisor" name="cargo">
                        <label class="form-check-label" for="supervisor">Supervisor de vendas</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="caixa" value="caixa" name="cargo">
                        <label class="form-check-label" for="caixa">Caixa</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="vendedor" value="vendedor" name="cargo">
                        <label class="form-check-label" for="vendedor">Vendedor</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="estoque" value="estoque" name="cargo">
                        <label class="form-check-label" for="estoque">Estoque</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" >
                <label style="color: black;">Funções</label>
                <br>
                <div class="container">
                    <label> Gestão de Cliente</label>
                    <div class="container">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="clienteVisualizar" name="acessos[]" value="1">
                            <label class="form-check-label" for="clienteVisualizar">Visualizar</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="clienteAdicionar" name="acessos[]" value="2">
                            <label class="form-check-label" for="clienteAdicionar">Adicionar</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="clienteEditar" name="acessos[]" value="3">
                            <label class="form-check-label" for="clienteEditar">Editar</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="clienteRelatorio" name="acessos[]" value="4">
                            <label class="form-check-label" for="clienteRelatorio">Relatório</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="container">
                    <label> Gestão de Colaboradores</label>
                    <div class="container">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="usuarioVusualizar" name="acessos[]" value="5">
                            <label class="form-check-label" for="usuarioVusualizar">Visualizar</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="usuarioAdicionar" name="acessos[]" value="6">
                            <label class="form-check-label" for="usuarioAdicionar">Adicionar</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="usuarioEditar" name="acessos[]" value="7">
                            <label class="form-check-label" for="usuarioEditar">Editar</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="usuarioRelatorio" name="acessos[]" value="8">
                            <label class="form-check-label" for="usuarioRelatorio">Relatório</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="produto" name="acessos[]" value="9">
                        <label class="form-check-label" for="produto">Gestão de Produtos</label>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="categoria" name="acessos[]" value="10">
                        <label class="form-check-label" for="categoria">Gestão de Categorias</label>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="produtoLote" name="acessos[]" value="11">
                        <label class="form-check-label" for="produtoLote">Gestão de Produtos Lote</label>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="estoqueVer" name="acessos[]" value="12">
                        <label class="form-check-label" for="estoqueVer">Estoque</label>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="comanda" name="acessos[]" value="13">
                        <label class="form-check-label" for="comanda">Comanda</label>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="pdv" name="acessos[]" value="14">
                        <label class="form-check-label" for="estoque">PDV</label>
                    </div>
                </div>
                <br>
                <div class="container">
                    <label>Relatórios</label>
                    <div class="container">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="relatorioVenda" name="acessos[]" value="15">
                            <label class="form-check-label" for="relatorioVenda">Vendas</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="relatorioProduto" name="acessos[]" value="16">
                            <label class="form-check-label" for="relatorioProduto">Produtos</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="relatorioComanda" name="acessos[]" value="17">
                            <label class="form-check-label" for="relatorioComanda">Comandas</label>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    </form>       
        
    
</div>

{% endblock %}


{% block javascript %}

<script type="text/javascript">
    $('#administrador').change(function(e) {
        if(!$(this)[0].checked){
            var checkboxes = $(':checkbox[name="acessos[]"]');
            checkboxes.prop('checked', false);
            return false;
        }
        ativarCheckbox("administrador");
    });

    $('#gerente').change(function() {
        if(!$(this)[0].checked){
            var checkboxes = $(':checkbox[name="acessos[]"]');
            checkboxes.prop('checked', false);
            return false;
        }
        ativarCheckbox("gerente");
    });

    $('#supervisor').change(function() {
        if(!$(this)[0].checked){
            var checkboxes = $(':checkbox[name="acessos[]"]');
            checkboxes.prop('checked', false);
            return false;
        }
        ativarCheckbox("supervisor");
    });

    $('#caixa').change(function() {
        if(!$(this)[0].checked){
            var checkboxes = $(':checkbox[name="acessos[]"]');
            checkboxes.prop('checked', false);
            return false;
        }
        ativarCheckbox("caixa");
    });

    $('#vendedor').change(function() {
        if(!$(this)[0].checked){
            var checkboxes = $(':checkbox[name="acessos[]"]');
            checkboxes.prop('checked', false);
            return false;
        }
        ativarCheckbox("vendedor");
    });

    $('#estoque').change(function() {
        if(!$(this)[0].checked){
            var checkboxes = $(':checkbox[name="acessos[]"]');
            checkboxes.prop('checked', false);
            return false;
        }
        ativarCheckbox("estoque");
    });

    function ativarCheckbox(cargo) {
        var ativar = [];
        switch (cargo) {
            case "administrador":
                ativar = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17];
                break;

            case "gerente":
                ativar = [1,2,3,4,5,8,9,10,11,12,13,14,15,16,17];
                break;

            case "supervisor":
                ativar = [1,2,3,4,12,13];
                break;

            case "caixa":
                ativar = [1,2,3,11,12,13,14];
                break;

            case "vendedor":
                ativar = [1,2,3,12,13];
                break;

            case "estoque":
                ativar = [9,10,11,12];
                break;
        
            default:
                break;
        }
        var checkboxes = $(':checkbox[name="acessos[]"]');
        $(checkboxes).each(function(){
            $(this).prop('checked', false);
            if(ativar.includes(parseInt($(this)[0].value))){
                $(this).prop('checked', true);    
            }
        });
    }
</script>

<script type="text/javascript">
    $(document).ready(function(){
        // $('#tabelaUsuariosLoad').load('tab-usuario');
        $('#adicionarUsuario').click(function(){
            vazios=validarFormVazio('frmUsuario');
            if(vazios > 0){
                alertify.alert("Preencha os campos!!");
                return false;
            }
            dados= $("#frmUsuario").serialize();
            $.ajax({
                type:"POST",
                data:dados,
                url:"usuario-add",
                success:function(r){
                    console.log(r);
                    var resp = JSON.parse(r);
                    if(resp){
                        $('#frmUsuario')[0].reset();
                        // $('#tabelaUsuariosLoad').load('tab-usuario');
                        alertify.success("Adicionado com sucesso");
                        window.location.href="tab-usuario";
                    }else{
                        alertify.error("Falha ao adicionar :(");
                    }
                }
            });
        });
    });
</script>



{% endblock %}