{% extends "base.html" %}

{% block title %}Usuários{% endblock %}

{% block body %}

<div class="container">
    <h1>Administrar Usuário</h1>
    <div class="row">
        <div class="col-sm-4">
            <form id="frmUsuario">
                <label>Nome</label>
                <input type="text" class="form-control input-sm" name="nome" id="nome">
                <label>Sobrenome</label>
                <input type="text" class="form-control input-sm" name="sobrenome" id="sobrenome">
                <label>Email</label>
                <input type="text" class="form-control input-sm" name="email" id="email">
                <label>Senha</label>
                <input type="text" class="form-control input-sm" name="senha" id="senha">

                <label>Cargo</label>
                <select class="form-control input-sm" id="cargo" name="cargo">
                    <option value="A">Selecionar Categoria</option>
                    <option value="2">Gerente</option>
                    <option value="3">Caixa</option>
                    <option value="4">Vendedor</option>
                    <option value="1">Administrador</option>
                </select>

                <p></p>
                <span class="btn btn-primary btn-block" id="usuarioF">Adicionar</span>

            </form>
        </div>
        <!-- <div class="col-sm-7">
            <div id="tabelaUsuariosLoad"></div>
        </div> -->
    </div>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    $(document).ready(function(){
        // $('#tabelaUsuariosLoad').load('tab-usuario');
        $('#usuario-add').click(function(){
            vazios=validarFormVazio('frmUsuario');
            if(vazios > 0){
                alertify.alert("Preencha os campos!!");
                return false;
            }
            dados=$('#frmUsuario').serialize();
            $.ajax({
                type:"POST",
                data:dados,
                url:"usuario-add",
                success:function(r){
                    var resp = JSON.parse(r);
                    //console.log(r);
                    if(resp){
                        $('#frmUsuario')[0].reset();
                        // $('#tabelaUsuariosLoad').load('tab-usuario');
                        alertify.success("Adicionado com sucesso");
                        window.location.href="tab-usuario";
                    }else{
                        alertify.error("Falha ao adicionar :(");
                    }
                }
            });
        });
    });
</script>

<script type="text/javascript">
$(document).ready(function(){
    $('#cargo').select2();
    //$('#cargoU').select2(); 
});
</script>
{% endblock %}