{% extends "base.html" %}

{% block title %}Comandas{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}

<div class="container">
    <h3>Abrir Comanda</h3>
 
	<div class="row">
		<div class="col-sm-3">
			<div class="form-check form-check-inline ">
			  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="cpf" value="opcao1">
			  <label class="form-check-label" for="inlineRadio1">CPF</label>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-check form-check-inline ">
			  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="numero" value="opcao2">
			  <label class="form-check-label" for="inlineRadio2">Número</label>
			</div>
		</div>
	</div>

    <br/>

    <section class="direita">
		<div class="row">
			<form method="post" id="frmComanda">
				<div class="row" id="grupoNumero">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Numero Comanda</label>
							<input readonly="" type="text" class="form-control input-sm" id="numeroComanda" name="numeroComanda">
						</div>
					</div>
				</div>
				<div class="row" id="grupoCpf">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Selecionar Cliente</label>
							<select class="form-control input-sm" id="clienteCpf" name="clienteCpf">
								<option value="A">Selecionar</option>
								<!-- <option value="{{produto.id}}">{{cliente.cpf}}</option> -->
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Nome </label>
							<input readonly="" type="text" class="form-control input-sm" id="nomeClienteComanda" name="nomeClienteComanda">
						</div>
					</div>
				</div>
					
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Produto</label>
							<select class="form-control input-sm" id="produtoVenda" name="produtoVenda">
								<option value="A">Selecionar</option>
								<!--<option value="{{produto.id}}">{{produto.nome}}</option>--> 
							</select>
						</div>
						<div class="form-group"></div>
						<label>Descrição</label>
								<textarea readonly="" id="descricaoV" name="descricaoV" class="form-control input-sm"></textarea>
						<div class="form-group">
							<label>Quantidade Estoque</label>
							<input readonly="" type="text" class="form-control input-sm" id="quantidadeV" name="quantidadeV">
						</div>
						<div class="form-group">
							<label>Preço</label>
							<input readonly="" type="text" class="form-control input-sm" id="precoV" name="precoV">
						</div>	
						<div class="form-group">
							<label>Quantidade Vendida</label>
							<input type="number" class="form-control input-sm" id="quantV" name="quantV">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<span type="submit" class="btn btn-primary btn-block" id="btAddTemp">Adicionar</span>
					</div>
					<div class="col-sm-3">
						<span class="btn btn-danger" id="btnLimparComanda">Limpar Comanda</span>
					</div>
				</div>
			</form>	
		</div>
	</section>
    

	<section class="esquerda">
		<div class="row">
			<table class="table table-bordered table-hover table-condensed" style="text-align: center;">
				<thead>
					<tr>
					  <th scope="col">Nome</th>
					  <th scope="col">Descrição</th>
					  <th scope="col">Preço</th>
					  <th scope="col">Quantidade</th>
					</tr>
				</thead>
				<tbody>
					{% for comanda in comandas %}
					<tr>
					  <th>{{comanda.name.produtoVenda}}</th>
					  <td>{{comanda.descricaoV}}</td>
					  <td>{{comanda.precoV}}</td>
					  <td>{{comanda.quantV}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
	
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
	/**
     * Todos os campos do formulario inativos ate escolher uma opcao no RadioOptions
     */
	$(document).ready(function(){
		$("#numeroComanda").prop("disabled", true);
		$("#clienteCpf").prop("disabled", true);
		$("#nomeClienteComanda").prop("disabled", true);
		$("#produtoVenda").prop("disabled", true);
		$("#quantidadeV").prop("disabled", true);
		$("#precoV").prop("disabled", true);
		$("#quantV").prop("disabled", true);
	});

	$("#cpf").on("click", function () {
		$("#numeroComanda").prop("disabled", true);
		$("#clienteCpf").prop("disabled", false);
		$("#nomeClienteComanda").prop("disabled", false);
		$("#produtoVenda").prop("disabled", false);
		$("#quantidadeV").prop("disabled", false);
		$("#precoV").prop("disabled", false);
		$("#quantV").prop("disabled", false);
		$("#grupoNumero").hide();
		$("#grupoCpf").show();
	});
	$("#numero").on("click", function () {
		$("#clienteCpf").prop("disabled", true);
		$("#nomeClienteComanda").prop("disabled", true);
		$("#numeroComanda").prop("disabled", false);
		$("#produtoVenda").prop("disabled", false);
		$("#quantidadeV").prop("disabled", false);
		$("#precoV").prop("disabled", false);
		$("#quantV").prop("disabled", false);
		$("#grupoCpf").hide();
		$("#grupoNumero").show();
	});

</script>


<script type="text/javascript">
	/**
     * Tras informaçoes para o select
     */
	$(document).ready(function(){
		$("#clienteCpf").select2({
			minimumInputLength: 3,
    		ajax: {
                url: 'pesquisar-cliente',
                dataType: 'json',
                success:function(r){
					//console.log('cliente',r.results);
					// var resp = JSON.parse(r.results);
					$('#nomeClienteComanda').val(r.results[0]['nome'] + " " + r.results[0]['sobrenome']);
				}
            }
        });
        $("#produtoVenda").select2({
            minimumInputLength: 3,
            ajax: {
                url: 'pesquisar-produto',
                dataType: 'json'
            }
        });
	});
</script>

<script type="text/javascript">
	$(document).ready(function(){

		// $('#btAddTemp').click(function(){
		// 	let comandas = new Array();
		// 	//let comandas = [];
		// });
		

		//$('#tabComandaTempLoad').load("comandas/tabComandaTemp.php");

		// $('#clienteCpf').change(function(){
		// 	$.ajax({
		// 		type:"POST",
		// 		data:"idcliente=" + $('#clienteCpf').val(),
		// 		url:"obter-dados-cli",
		// 		success:function(r){
		// 			dado=jQuery.parseJSON(r);
		// 			$('#nomeClienteComanda').val(dado['nome'] + " " + dado['sobrenome']);
		// 		}
		// 	});
		// });

		/**
		 * Completa os campos do produto de acordo com o id do select
		 */
		$('#produtoVenda').change(function(){
			$.ajax({
				type:"POST",
				data:"id=" + $('#produtoVenda').val(),
				url:"pesquisar-prod-est",
				success:function(r){
					//console.log('resposta',r);
					var resp = JSON.parse(r);
					$('#descricaoV').val(resp[0]['descricao']);
					$('#quantidadeV').val(resp[0]['quantotal']);
					$('#precoV').val(resp[0]['preco_ven']);	
				}
			});
		});

		$('#quantV').click(function(){

			var quant = parseInt($('#quantV').val());
			var quantidade = parseInt($('#quantidadeV').val()); 
			
			if(quant > quantidade){
				alertify.alert("Quantidade inexistente em estoque!!");
				quant = $('#quantV').val("");
				return false;
			}else{
				quantidade = $('#quantidadeV').val();
			}
		});

		let comandas = [];
		
		$('#btAddTemp').click(function(){
			//vazios=validarFormVazio('frmComandaCpf');

			var quant = parseInt($('#quantV').val());
			var quantidade = parseInt($('#quantidadeV').val());

			
			if(quant > quantidade){
				alertify.alert("Quantidade inexistente em estoque!!");
				quant = $('#quantV').val("");
				return false;
			}else{
				quantidade = $('#quantidadeV').val();
			}

			// if(vazios > 0){
			// 	alertify.alert("Preencha os Campos!!");
			// 	return false;
			// }

			
			dados=$('#frmComanda').serialize();
			
			comandas.push(dados);
			console.log('comandas', comandas);

			// dados=$('#frmComandaCpf').serialize();
			// $.ajax({
			// 	type:"POST",
			// 	data:dados,
			// 	url:"../procedimentos/comandas/addComandaTemp.php",
			// 	success:function(r){
			// 		//alert(dados);
			// 		//limpar formulário
			// 		//$('#frmVendasProdutos')[0].reset();
			// 		$("#produtoVenda").select2('');
			// 		$('#quantidadeV').val('');
			// 		$('#descricaoV').val('');
			// 		$('#precoV').val('');
			// 		$('#quantV').val('');
			// 		$('#tabComandaTempLoad').load("comandas/tabComandaTemp.php");
			// 	}
			// });
		});

		$('#btnLimparComanda').click(function(){
			$.ajax({
				url:"../procedimentos/comandas/limparTemp.php",
				success:function(r){
					$('#tabComandaTempLoad').load("comandas/tabComandaTemp.php");
				}
			});
		});

	});
</script>


{% endblock %}