{% extends "base.html" %}

{% block title %}Comandas{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}

<div class="container">
    <h3>Abrir Comanda</h3>
 
	<div class="row">
		<div class="col-sm-3">
			<div class="form-check form-check-inline ">
			  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="cpf" value="cpf">
			  <label class="form-check-label" for="inlineRadio1">CPF</label>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-check form-check-inline ">
			  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="numero" value="numero">
			  <label class="form-check-label" for="inlineRadio2">Número</label>
			</div>
		</div>
	</div>

    <br/>

    <section class="direita">
		<div class="row">
			<form method="post" id="frmComanda">
				<div class="row" id="grupoNumero">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Numero Comanda</label>
							<input readonly="" type="text" class="form-control input-sm" id="numeroComanda" name="numeroComanda">
						</div>
					</div>
				</div>
				<div class="row" id="grupoCpf">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Selecionar Cliente</label>
							<select class="form-control input-sm" id="clienteCpf" name="clienteCpf">
								<option value="A">Selecionar</option>
								<!-- <option value="{{produto.id}}">{{cliente.cpf}}</option> -->
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label>Nome </label>
							<input readonly="" type="text" class="form-control input-sm" id="nomeClienteComanda" name="nomeClienteComanda">
						</div>
					</div>
				</div>
					
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Produto</label>
							<select class="form-control input-sm" id="produtoVenda" name="produtoVenda">
								<option value="A">Selecionar</option>
								<!--<option value="{{produto.id}}">{{produto.nome}}</option>--> 
							</select>
						</div>
						<div class="form-group">
							<label>Descrição</label>
							<textarea readonly="" id="descricaoV" name="descricaoV" class="form-control input-sm"></textarea>
						</div>
						<div class="form-group">
							<label>Quantidade Estoque</label>
							<input readonly="" type="text" class="form-control input-sm" id="quantidadeV" name="quantidadeV">
						</div>
						<div class="form-group">
							<label>Preço</label>
							<input readonly="" type="text" class="form-control input-sm" id="precoV" name="precoV">
						</div>	
						<div class="form-group">
							<label>Quantidade Vendida</label>
							<input type="number" class="form-control input-sm" id="quantV" name="quantV">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<span type="submit" class="btn btn-primary btn-block" id="btAddTemp">Adicionar</span>
					</div>
					<div class="col-sm-3">
						<span class="btn btn-danger" id="btnLimparComanda">Limpar Comanda</span>
					</div>
				</div>
			</form>	
		</div>
	</section>
    

	<section class="esquerda">
		<div class="row">
			<table id="tabelaComanda" class="table table-bordered table-hover table-condensed" style="text-align: center;">
				<thead>
					<tr>
					  <th scope="col">Nome</th>
					  <th scope="col">Descrição</th>
					  <th scope="col">Quantidade</th>
					  <th scope="col">Preço</th>
					  <th scope="col">Subtotal</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3"></td>
						<th>Total</th>
						<td id="valorTotal">R$ 0,00</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<span class="btn btn-success" id="gravarComanda">Enviar</span>
			</div>
		</div>
	</section>
	
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
	/**
     * Todos os campos do formulario inativos ate escolher uma opcao no RadioOptions
     */
	$(document).ready(function(){
		$("#numeroComanda").prop("disabled", true);
		$("#clienteCpf").prop("disabled", true);
		$("#nomeClienteComanda").prop("disabled", true);
		$("#produtoVenda").prop("disabled", true);
		$("#quantidadeV").prop("disabled", true);
		$("#precoV").prop("disabled", true);
		$("#quantV").prop("disabled", true);
	});

	$("#cpf").on("click", function () {
		$("#numeroComanda").prop("disabled", true);
		$("#clienteCpf").prop("disabled", false);
		$("#nomeClienteComanda").prop("disabled", false);
		$("#produtoVenda").prop("disabled", false);
		$("#quantidadeV").prop("disabled", false);
		$("#precoV").prop("disabled", false);
		$("#quantV").prop("disabled", false);
		$("#grupoNumero").hide();
		$("#grupoCpf").show();
	});

	$("#numero").on("click", function () {
		$("#clienteCpf").prop("disabled", true);
		$("#nomeClienteComanda").prop("disabled", true);
		$("#numeroComanda").prop("disabled", false);
		$("#produtoVenda").prop("disabled", false);
		$("#quantidadeV").prop("disabled", false);
		$("#precoV").prop("disabled", false);
		$("#quantV").prop("disabled", false);
		$("#grupoCpf").hide();
		$("#grupoNumero").show();
	});

	/**
	* JSON para enviar a comanda
	*/
	var comanda = {
		cliente: null,
		numero: null,
		linhas:[]
	};


</script>


<script type="text/javascript">
	/**
     * Tras informaçoes para o select
     */
	$(document).ready(function(){
		$("#clienteCpf").select2({
			language: "pt-BR",
			minimumInputLength: 14,
    		ajax: {
                url: 'pesquisar-cliente',
                dataType: 'json',
                success:function(r){
					$('#nomeClienteComanda').val(r.results[0]['nome'] + " " + r.results[0]['sobrenome']);
					comanda.cliente = r.results[0]['id'];
					// if('#clienteCpf'){
					// 	$("#clienteCpf").prop("disabled", true);
					// 	//$("#nomeClienteComanda").prop("disabled", true);
					// }
				}
            }
        })
		//Coloca mascara no select2
		.on("select2:open", function () {
			$(".select2-search__field")
			.attr("type","text")
			.mask("000.000.000-00");  
		});
		
		/**
		 * select de produto .. tras o id e o nome
		 */
        $("#produtoVenda").select2({
			language: "pt-BR",
            minimumInputLength: 3,
            ajax: {
                url: 'pesquisar-produto',
                dataType: 'json'
            }
        });
	});
</script>

<script type="text/javascript">
	/**
	 * Coloca os itens na tabela temporaria
	 */
	function atualizarTabela(tabela) {
		var tbody = tabela.find('tbody');
		tbody.empty();
		comanda.linhas.forEach(linha => {
			tbody.append(`<tr> <th>${linha.nomeProduto}</th> <td>${linha.descricaoV}</td>  <td>${linha.quantV}</td> <td>${parseFloat(linha.precoV).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}</td><td> ${(linha.quantV*linha.precoV).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}</td></tr>`);
		});
	};

	/**
	 * Faz a soma do subtotal
	 */
	function itensSoma(tabela) {
		var total = tabela.find('#valorTotal');
		total.html('R$ 0,00');
		var soma = 0.0;
		comanda.linhas.forEach(linha => {
			soma += linha.quantV*linha.precoV;
		});
		total.html(soma.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}));
	}

	/**
	 * Faz a soma do subtotal
	 */
	 function apagarForm(tabela) {
		comanda={
			cliente: null,
			numero: null,
			linhas:[]
		};
		var total = tabela.find('#valorTotal');
		total.html('R$ 0,00');
		var tbody = tabela.find('tbody');
		tbody.empty();
		console.log(comanda);
	 }
</script>

<!-- <script type="text/javascript">
	$('#btnLimparComanda').click(function(){
		apagar();
	});
</script> -->

<script type="text/javascript">
	/**
	* Cria a comanda ENVIAR PARA O BANCO
	*/
	$('#gravarComanda').click(function() {
		
		var dados={
			cliente: (comanda.cliente!=null?parseInt(comanda.cliente):null),
			numero: (comanda.numero!=null?(comanda.numero):null),
			linhas:[]
		};
		comanda.linhas.forEach(linha =>{
			var novaLinha = {
				id_produto: parseInt(linha.produtoVenda),
				quantidade: parseInt(linha.quantV),
				valor_unitario: parseFloat(linha.precoV)
			};
			dados.linhas.push(novaLinha);
		});
		// console.log(dados);
		$.ajax({
			type:"POST",
			data: dados,
			url:"resp-comanda",
			success:function(r){
				// console.log('respostaGravou',r);
				var resp = JSON.parse(r);
				if(resp.resp){	
					// console.log('resp',resp.resp);
					apagarForm();
					$('#clienteCpf').val(null).trigger('change');
					$('#nomeClienteComanda').val('');
					
					alertify.success("Comanda criada com sucesso!!");
				}else{
					alertify.error("Falha ao Adicionar");
				}
				
			}
		});
	});
	
</script>


<script type="text/javascript">
	$(document).ready(function(){

		// $('#clienteCpf').change(function(){
		// 	$.ajax({
		// 		type:"POST",
		// 		data:"idcliente=" + $('#clienteCpf').val(),
		// 		url:"obter-dados-cli",
		// 		success:function(r){
		// 			dado=jQuery.parseJSON(r);
		// 			$('#nomeClienteComanda').val(dado['nome'] + " " + dado['sobrenome']);
		// 		}
		// 	});
		// });


		/**
		 * Completa os campos do produto de acordo com o id do select
		 */
		$('#produtoVenda').change(function(){
			$.ajax({
				type:"POST",
				data:"id=" + $('#produtoVenda').val(),
				url:"pesquisar-prod-est",
				success:function(r){
					// console.log('resposta',r);
					var resp = JSON.parse(r);
					console.log('resp',resp);
					$('#descricaoV').val(resp[0]['descricao']);
					$('#quantidadeV').val(resp[0]['quantotal']);
					$('#precoV').val(resp[0]['preco_ven']);	
				}
			});
		});

		$('#quantV').click(function(){

			var quant = parseInt($('#quantV').val());
			var quantidade = parseInt($('#quantidadeV').val()); 
			
			if(quant > quantidade){
				alertify.alert("Quantidade inexistente em estoque!!");
				quant = $('#quantV').val("");
				return false;
			}else{
				quantidade = $('#quantidadeV').val();
			}
		});

		
		
		$('#btAddTemp').click(function(){
			//vazios=validarFormVazio('frmComandaCpf');

			var quant = parseInt($('#quantV').val());
			var quantidade = parseInt($('#quantidadeV').val());

			
			if(quant > quantidade){
				alertify.alert("Quantidade inexistente em estoque!!");
				quant = $('#quantV').val("");
				return false;
			}else{
				quantidade = $('#quantidadeV').val();
			}

			
			// var cpf = $('#cpf').val();
			// console.log('ak2', cpf);
			// if($('#cpf') > 0){
			// 	console.log('ak');
			// 	if($('#nomeClienteComanda').val() == ""){
			// 		alertify.alert("Preencha o CPF do Cliente!!");
			// 		return false;
			// 	}
			// }verificar validaçao do campo cpf
			
			if($('#quantV').val() == ""){
				alertify.alert("Preencha a quantidade desejada!!");
				return false;
			}


			/**
			* Pega as informaçoes do formulario e transforma em json para adicionar no array
			*/
			var jsonData = {};
			var formData = $("#frmComanda").serializeArray();

			$.each(formData, function() {
				if (jsonData[this.name]) {
				if (!jsonData[this.name].push) {
						jsonData[this.name] = [jsonData[this.name]];
				}
					jsonData[this.name].push(this.value || '');
				} else {
					jsonData[this.name] = this.value || '';
				}
			});
			jsonData['nomeProduto'] = $('#produtoVenda option:selected').text();
			
			/**
			* Coloca os itens temporarios na tabela
			*/
			comanda.linhas.push(jsonData);
			
			itensSoma($('#tabelaComanda'));
			atualizarTabela($('#tabelaComanda'));
			$('#produtoVenda').val(null).trigger('change');//reseta o select2
			$('#quantV').val('');
			$('#precoV').val('');
			$('#descricaoV').val('');
			$('#quantidadeV').val('');
		});


		/**
		*Botao limpar formulario
		*/
		$('#btnLimparComanda').click(function(){
			apagarForm($('#tabelaComanda'));
		});

	});
</script>




{% endblock %}