{% extends "base.html" %}

{% block title %}Comandas{% endblock %}

{% block stylesheet %}
<style>
	td {text-align: center;}
    th {text-align: center;}
</style>
{% endblock %}

{% block body %}

<div class="container" id="tabela">
    <form id="frmRelatorioCliente">
        <div class="row">  
            <div class="col-sm-3">
                <label>Data Inicial</label>
            </div>
            <div class="col-sm-3">
                <label>Data Final</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <input type="date" class="form-control input-sm " name="dtInicial" id="dtInicial">
            </div>
            <div class="col-sm-3">
                <input type="date" class="form-control input-sm" name="dtFinal" id="dtFinal">
            </div>
            <div class="col-sm-3">
                <span class="btn btn-primary btn-block" id="enviar">Enviar</span>
            </div>
            <!-- <a class="btn btn-primary"  role="button">Enviar</a> -->
        </div>
    </form>

    <div class="table-responsive" id="vendasPeriodo">
		<caption><label>Comandas</label></caption> 
			<br>
		<table class="table table-hover table-condensed table-bordered"  id="lista">
			<!-- <div ><input class="col-sm-6" id="filtro-nome" placeholder="Nome"/></div></br>
			<br> -->
			<thead>	
				<tr>
					<th>Data Abertura</th>
					<th>Comanda</th>
					<th>Vendedor</th>
					<th>Cliente</th>
					<th>Itens</th>

					<th>Status</th>
					<th>Fechar</th>
				</tr>
			</thead>
            <tbody>
					
            </tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
	 $(document).ready(function(){
        $('#vendasPeriodo').hide();
    });

    $('#enviar').click(function(){
        if($('#dtInicial').val() == null || $('#dtInicial')[0].value < $('#dtFinal')[0].value){
            var dados={
                dtInicial: $('#dtInicial')[0].value,
                dtFinal: $('#dtFinal')[0].value
            }
            carrega(dados);
            console.log(dados);
        }else{
            alertify.error("Datas invalidas!");
        }
    });
        
        
    function carrega(dados) {
        $.ajax({
            type:"POST",
            data: dados,
            url:"pesquisa-comanda",
            success:function(r){
                console.log('r',r);
                var resp = jQuery.parseJSON(r);
                console.log(resp);
                if(resp.dados.length > 0){
                    $('#vendasPeriodo').show();
                    var tbody = $('#vendasPeriodo').find('tbody');
                    tbody.empty();
                    resp.dados.forEach(linha => {
                        tbody.append(`<tr> <th>${linha.abertura}</th> <td>${linha.numero}</td> <td>${linha.vendedor}</td><td>${linha.cliente}</td> <td> ${linha.item}</td> <td>if(linha.status == 1){ <span class="glyphicon glyphicon-remove-circle" style="color: #751d1d"></span></td> <td><span class="btn btn-warning btn-xs" onclick="fecharComanda(${linha.id})"><span class="glyphicon glyphicon-pencil"></span></span>}else{<span class="glyphicon glyphicon-ok-circle" style="color: #045719"></span>} </td></tr>`);
                    });
                }else{
                    $('#vendasPeriodo').hide();
                    alertify.error('Nao ha comandas');
                }
            } 
        });
    }    
    
</script>

<!-- <script type="text/javascript">
    /**
	 * Coloca os itens na tabela temporaria
	 */
	function atualizarTabela(tabela) {
		var tbody = tabela.find('tbody');
            tbody.empty();
            resp.dados.forEach(linha => {
                tbody.append(`<tr> <th>${linha.abertura}</th> <td>${linha.numero}</td> <td>${linha.vendedor}</td><td>${linha.cliente}</td> <td> ${linha.item}</td> <td>if(linha.status == 1){ <span class="glyphicon glyphicon-remove-circle" style="color: #751d1d"></span></td> <td><span class="btn btn-warning btn-xs" onclick="fecharComanda(${linha.id})"><span class="glyphicon glyphicon-pencil"></span></span>}else{<span class="glyphicon glyphicon-ok-circle" style="color: #045719"></span>} </td></tr>`);
            });
	};
</script> -->


{% endblock %}