{% extends "base.html" %}

{% block title %}Relatório de vendas{% endblock %}

{% block stylesheet %}
<style>
	td {text-align: center;}
    th {text-align: center;}
</style>
{% endblock %}

{% block body %}

<div class="container" >
    <div class="row">
        <div class="col-sm-12">
            <div class="card " style="border-radius: 1rem; border-color: rgb(134, 47, 160); text-align: center; color: rgb(8, 5, 10);">
                <div class="card-body">
                    <h4>Relatório de vendas</h4>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <form id="frmRelatorioVenda">
            <div class="row">  
                <div class="col-sm-3">
                    <label>Data Inicial</label>
                </div>
                <div class="col-sm-3">
                    <label>Data Final</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="date" class="form-control" name="dtInicial" id="dtInicial" value="{{'now' | date('Y-m-d', 'America/Sao_Paulo')}}">
                </div>
                <div class="col-sm-3">
                    <input type="date" class="form-control" name="dtFinal" id="dtFinal" value="{{'now' | date('Y-m-d', 'America/Sao_Paulo')}}">
                </div>
                <div class="col-sm-3">
                    <span class="btn btn-primary btn-block" id="enviar">Enviar</span>
                </div>
                <!-- <a class="btn btn-primary"  role="button">Enviar</a> -->
            </div>
        </form>
    </div>
    <br>
    <div id="vendasPeriodo" >
        <div class="row" >
            <span class="btn btn-success" onclick="download()" style="float: right;">
                <span class="glyphicon glyphicon-save-file"></span>
            </span>
        </div>
        <br>
        <div class="row">
            <div class="table-responsive" >
                <!-- <caption><label>Comandas</label></caption>  -->
                    <br>
                <table class="table table-hover table-condensed table-bordered"  id="lista">
                    <!-- <div ><input class="col-sm-6" id="filtro-nome" placeholder="Nome"/></div></br>
                    <br> -->
                    <thead>	
                        <tr>
                            <th>Data da venda</th>
                            <th>Comanda</th>
                            <th>Cliente</th>
                            <th>Vendedor</th>
                            <th>Itens</th>
                            <th>Desconto</th>
                            <th>Valor pago</th>
                        </tr>
                    </thead>
                    <tbody>
                            
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if pagina > 1 %} 
                    <li class="page-item">
                        <a class="page-link" href="{{route}}?itensPag={{itensPag}}&pagina={{pagina-1}}{{busca != ''?'&busca='~busca:''}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}
        
                    {% for i in 1..totalpaginas %}
                    <li class="page-item"><a class="page-link" href="{{route}}?itensPag={{itensPag}}&pagina={{i}}{{busca != ''?'&busca='~busca:''}}">{{i}}</a></li>
                    {% endfor %}
        
                    {% if totalpaginas > pagina %}
                    <li class="page-item">
                        <a class="page-link" href="{{route}}?itensPag={{itensPag}}&pagina={{pagina+1}}{{busca != ''?'&busca='~busca:''}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div> -->
    </div>
    

    
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
	 $(document).ready(function(){
        $('#vendasPeriodo').hide();
    });

    $('#enviar').click(function(){
        if($('#dtInicial')[0].value < $('#dtFinal')[0].value || $('#dtInicial')[0].value == $('#dtFinal')[0].value){
            var dados={
                dtInicial: $('#dtInicial')[0].value,
                dtFinal: $('#dtFinal')[0].value
            }
            carrega(dados);
            // console.log(dados);
        }else{
            alertify.error("Datas invalidas!");
        }
    });
        
        
    function carrega(dados) {
        $.ajax({
            type:"POST",
            data: dados,
            url:"pesquisar-vendas",
            success:function(r){
                var resp = jQuery.parseJSON(r);
                // console.log(resp);
                if(resp.venda.length > 0){
                    $('#vendasPeriodo').show();
                    var tbody = $('#vendasPeriodo').find('tbody');
                    tbody.empty();
                    resp.venda.forEach(linha => {
                        tbody.append(`<tr> <th>${linha.fechamento}</th> <td>${linha.numero}</td> <td>${linha.cliente!='-'?linha.cliente:'Não há cliente'}</td> <td>${linha.vendedor}</td> <td> ${linha.item.replace(/,/g, '<br>')}</td> <td>${parseFloat(linha.desconto).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}</td> <th>${parseFloat(linha.total).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}</th> </tr>`);
                    });
                }else{
                    $('#vendasPeriodo').hide();
                    alertify.error('Não há vendas');
                }
            } 
        });
    }    

    function download() {
        var dados={
            dtInicial: $('#dtInicial')[0].value,
            dtFinal: $('#dtFinal')[0].value
        }
            var req = new XMLHttpRequest();
            req.open("POST", "pdf-vendas", true);
            req.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            req.responseType = "blob";

            req.onload = function (event) {
                var blob = req.response;
                // console.log(blob);
                var d = new Date();
                var mes = d.getMonth() + 1;
                var link=document.createElement('a');
                link.href=window.URL.createObjectURL(blob);
                link.download="Vendas_" + d.getDate() + '-' + mes +".pdf";
                link.click();
            };

            req.send(`dtInicial=${dados.dtInicial}&dtFinal=${dados.dtFinal}`);
    }
</script>


{% endblock %}