{% extends "base.html" %}

{% block title %}Vendas Colaboradores{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}
<div class="container">

    <div class="row">
        <div class="col-sm-11">
            <div class="card " style="border-radius: 1rem; border-color: rgb(134, 47, 160); text-align: center; color: rgb(8, 5, 10);">
                <div class="card-body">
                    <h4>Relatório de vendas</h4>
                    <!-- <h4 style="color: rgb(56, 109, 179);">{{ usuario.getNomeCompleto() }}</h4> -->
                    <!-- <p class="card-text">Cargo: {{ usuario.getCargoNome() }}</p> -->
                </div>
            </div>
        </div>
    </div>
    <br>

    <form id="frmRelatorioColaborador">
        <div class="row">  
            <div class="col-sm-3">
                <label>Data Inicial</label>
            </div>
            <div class="col-sm-3">
                <label>Data Final</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <input type="date" class="form-control input-sm " name="dtInicial" id="dtInicial" value="{{'now' | date('Y-m-d')}}">
            </div>
            <div class="col-sm-3">
                <input type="date" class="form-control input-sm" name="dtFinal" id="dtFinal" value="{{'now' | date('Y-m-d')}}">
            </div>
            <div class="col-sm-3">
                <span class="btn btn-primary btn-block" onclick="enviar()">Enviar</span>
            </div>
            <!-- <a class="btn btn-primary"  role="button">Enviar</a> -->
        </div>
    </form>
    <br>
    <br>
    <div class="row">
        <table id="tabelaVendedores" class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Nome</th>
                  <th scope="col">Quantidade Vendidas</th>
                  <th scope="col">Ticket Medio</th>
                  <th scope="col">Total Liquido</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    

</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#tabelaVendedores').hide();
    });

    function enviar() {
        if($('#dtInicial')[0].value < $('#dtFinal')[0].value || $('#dtInicial')[0].value == $('#dtFinal')[0].value){
            var dados={
                dtInicial: $('#dtInicial')[0].value,
                dtFinal: $('#dtFinal')[0].value
            }
            $.ajax({
                type:"POST",
                data: dados,
                url:"colaboradores-vendas",
                success:function(r){
                    var resp = jQuery.parseJSON(r);
                    // console.log('r', resp.colaboradores);
                    if(resp.colaboradores != 0){
                        $('#tabelaVendedores').show();
                        var tbody = $('#tabelaVendedores').find('tbody');
                        tbody.empty();
                        resp.colaboradores.forEach((linha, index) => {
                            tbody.append(`<tr> <th>${index+1}º</th> <th>${linha.nome}</th> <td>${linha.totalVendas}</td>  <td>${parseFloat(linha.ticketMedio).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}</td> <td>${parseFloat(linha.totalLiquido).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}</td> </tr>`);
                        });
                    }else{
                        $('#tabelaVendedores').hide();
                        alertify.error("Nao ha vendas nesse periodo");
                    }
                }
            });
        }else{
            alertify.error("Datas invalidas!");
        }
    }
    
</script>
{% endblock %}
