{% extends "base.html" %}

{% block title %}Categorias{% endblock %}

{% block body %}
<!-- Modal -->
<div class="modal fade" id="atualizarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Atualizar Categoria</h4>
            </div>
            <div class="modal-body">
                <form id="frmCategoriaU">
                    <input type="text" hidden="" id="idCategoriaU" name="idCategoriaU" required>
                    <label for="categoriaU">Razao Social</label>
                    <input type="text" class="form-control" id="categoriaU" name="categoriaU" required>
                    <label>Descrição</label>
                    <input type="text" class="form-control input-sm" name="descricaoU" id="descricaoU">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAtualizaCategoria" class="btn btn-warning" data-dismiss="modal">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!--Formulario-->                    
<div class="container" style="margin-top: -40px;">
    <h2>Classificação dos Briquedos</h2>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <form id="frmCategorias">
                <label>Faixa Etária</label>
                <input type="text" class="form-control input-sm" name="categoria" id="categoria" required>
                <label>Descrição</label>
                <input type="text" class="form-control input-sm" name="descricao" id="descricao" required>
                <p></p>
                <span class="btn btn-primary" id="btnAdicionarCategoria">Adicionar</span>
            </form>
        </div>
        <div class="col-sm-8">
            <div id="tabelaCategoriaLoad"></div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}

<script type="text/javascript">
    $(document).ready(function(){
        $('#tabelaCategoriaLoad').load("tabela-categoria");
        $('#btnAdicionarCategoria').click(function(){
            $('#frmCategorias')[0].reportValidity();
            if(!$('#frmCategorias')[0].checkValidity()){
                console.log('entrou if');
                return false;
            }
            dados=$('#frmCategorias').serialize();
            //alert(dados);
            $.ajax({
                type:"POST",
                data:dados,
                url:"categorias",
                success:function(r){
                    var resp = JSON.parse(r);
                    if(resp == true){
                        //limpar formulário
                        $('#frmCategorias')[0].reset();
                        $('#tabelaCategoriaLoad').load("tabela-categoria");
                        alertify.success("Classificação adicionada com sucesso!");
                    }else{
                        alertify.error("Não foi possível adicionar a classificaçao");
                    }
                }
            });
        });
    });
</script>




<script type="text/javascript">
    $(document).ready(function(){
        $('#btnAtualizaCategoria').click(function(){
            $('#frmCategoriaU')[0].reportValidity();
            if(!$('#frmCategoriaU')[0].checkValidity()){
                console.log('entrou if');
                return false;
            }
            dados=$('#frmCategoriaU').serialize();
            $.ajax({
                type:"POST",
                data:dados,
                url:"atualizar-categoria",
                success:function(r){
                    var resp = JSON.parse(r);
                    if(resp == true){
                        $('#tabelaCategoriaLoad').load("tabela-categoria");
                        alertify.success("Atualizado com Sucesso :)");
                    }else{
                        alertify.error("Não foi possível atualizar :(");
                    }
                }
            });
        });
    });
</script>



<script type="text/javascript">

    function editarCategoria(idcategoria) {
        $.ajax({
            type:"POST",
            data:"idcategoria=" + idcategoria,
            url:"obter-categoria",
            success:function(r){
                var resp = JSON.parse(r);
                $('#idCategoriaU').val(resp['id']);
                $('#categoriaU').val(resp['categoria']);
                $('#descricaoU').val(resp['descricao']);
            }
        });
    }

    function deletarCategoria(idcategoria){
        alertify.confirm('Deseja excluir esta categoria?', function(){
            $.ajax({
                type:"POST",
                data:"idcategoria=" + idcategoria,
                url:"apagar-categoria",
                success:function(r){
                    var resp = JSON.parse(r);
                    if(resp == true){
                        $('#tabelaCategoriaLoad').load("tabela-categoria");
                        alertify.success("Excluido com sucesso!!");
                    }else{
                        alertify.error("Não se pode eliminar");
                    }
                }
            });
        }, function(){
            alertify.error('Cancelado !')
        });
    }

</script>

{% endblock %}