{% block stylesheet %}
<style>
	td {text-align: center;}
    th {text-align: center;}
</style>
{% endblock %}

{% block body %}

<!-- Modal -->
<div class="modal fade" id="atualizaCategoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Atualizar classificação</h4>
            </div>
            <div class="modal-body">
                <form id="frmCategoriaU">
                    <input type="text" hidden="" id="idcategoria" name="idcategoria">
                    <label>Faixa etária</label>
                    <input type="text" id="categoriaU" name="categoriaU" class="form-control input-sm">
                    <label>Descrição</label>
                    <input type="text" id="descricaoU" name="descricaoU" class="form-control input-sm">
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" id="btnAtualizaCategoria" class="btn btn-warning" data-dismiss="modal">Salvar</button>

            </div>
        </div>
    </div>
</div>


<!--Tabela-->

<div class="table-responsive" style="margin-top: -10px;">
<br>
	<!-- <caption><label>Categorias</label></caption>  -->
		</br>

	<table class="table table-hover table-condensed table-bordered"  id="lista">

	 	<div ><input class="col-sm-6" id="filtro-nome" placeholder="Nome"/></div></br>
	 	</br>

		<thead>	
		 	<tr>
		 		<th>Faixa Etária</th>
		 		<th>Descrição</th>

		 		<th>Editar</th>
		 		<th>Excluir</th>
		 	</tr>
			 
 		</thead>

 		<tbody>	
			{% for categoria in categorias %}
		 	<tr>
				<td>{{categoria.categoria}}</td>
            	<td>{{categoria.descricao}}</td>
		 		<td>
					<span class="btn btn-warning btn-xs" data-toggle="modal" data-target="#atualizarModal" onclick="editarCategoria('{{categoria.id}}')">
						<span class="glyphicon glyphicon-pencil"></span>
					</span>
				</td>
				<td>
					<span class="btn btn-danger btn-xs" onclick="deletarCategoria('{{categoria.id}}')">
						<span class="glyphicon glyphicon-remove"></span>
					</span>
				</td>
		 	</tr>
			{% endfor %} 
	 	</tbody>
	</table>
	<div>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				{% if pagina > 1 %} 
			  <li class="page-item">
				<a class="page-link" href="{{route}}?itensPag={{itensPag}}&pagina={{pagina-1}}{{busca != ''?'&busca='~busca:''}}" aria-label="Previous">
				  <span aria-hidden="true">&laquo;</span>
				  <span class="sr-only">Previous</span>
				</a>
			  </li>
			  {% endif %}
	
			  {% for i in 1..totalpaginas %}
			  <li class="page-item"><a class="page-link" href="{{route}}?itensPag={{itensPag}}&pagina={{i}}{{busca != ''?'&busca='~busca:''}}">{{i}}</a></li>
			  {% endfor %}
	
			  {% if totalpaginas > pagina %}
			  <li class="page-item">
				<a class="page-link" href="{{route}}?itensPag={{itensPag}}&pagina={{pagina+1}}{{busca != ''?'&busca='~busca:''}}" aria-label="Next">
				  <span aria-hidden="true">&raquo;</span>
				  <span class="sr-only">Next</span>
				</a>
			  </li>
			  {% endif %}
			</ul>
		</nav>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$('.pagination li a').click(function(event){
        event.preventDefault();
        $('#tabelaCategoriaLoad').load(event.currentTarget.href);
        return false;
    });

    $('#filtro-nome').keyup(function(e) {
        if(e.which == 13) {
            var nomeFiltro = $(this).val().toLowerCase();
            // $(location).attr('href', '{{route}}?itensPag={{itensPag}}&pagina=1&busca='+nomeFiltro);
            $('#tabelaCategoriaLoad').load('{{route}}?itensPag={{itensPag}}&pagina=1&busca='+nomeFiltro);
        }
    });
</script>
{% endblock %}