{% extends "base.html" %}

{% block title %}Brinquedos Venda{% endblock %}

{% block stylesheet %}
<style>
    td {text-align: center;}
    th {text-align: center;}
 </style>
{% endblock %}

{% block body %}

<!-- Modal -->
<div class="modal fade" id="modalProdutoVenda" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Atualizar Produto</h4>
            </div>
            <div class="modal-body">
                <form id="frmProdutovU" enctype="multipart/form-data">
                    <input type="text" hidden="" id="idprodvU" name="idprodvU">
                    
                    <label>Brinquedo</label>
                    <select class="form-control input-sm" id="idProdutoU" name="idProdutoU">
                        <option value="A">Selecionar</option>
                        {% for produto in produtos %}
                        <option value="{{produto.id}}">{{produto.nome}}</option>
                        {% endfor %}
                    </select>
                    <label>Lote</label>
                    <input type="text" class="form-control input-sm" id="loteU" name="loteU">
                    <label>Quantidade un</label>
                    <input type="text" class="form-control input-sm" id="quantidadeU" name="quantidadeU">
                    <label>Preço comprado</label>
                    <input type="text" class="form-control input-sm" id="compU" name="compU">
                    <label>Preço vendido</label>
                    <input type="text" class="form-control input-sm" id="venU" name="venU">
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnAtualizarProdutovU" class="btn btn-primary col-md" data-dismiss="modal">Atualizar</button>

            </div>
        </div>
    </div>
</div> 


<!-- Formulario -->
<div class="container">
    <h1>Preços</h1>
    
    <div class="row">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ><a href="produto-form">Cadastrar Produtos</a></li>
            <li role="presentation" class="active"><a href="produto-venda">Preço para venda</a></li>
            <li role="presentation"><a href="estoque">Estoque</a></li>
        </ul>
    </div>	
    </br>
    <div class="row">
        <div class="col-sm-4">
            <form method="post" id="frmProdutov" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nome">Brinquedo</label>
                    <select class="form-control input-sm" id="produtoSelect" name="produtoSelect" required>
                        <option value="">Selecionar</option>
                        <!-- {% for produto in produtos %}
                        <option value="{{produto.id}}">{{produto.nome}}</option>
                        {% endfor %} -->
                    </select >
                </div>
                <!-- <div class="form-group">
                    <label>Código</label>
                    <input type="textbox" class="form-control input-sm" id="codigo" name="codigo" data-nome="" data-id="">
                </div> -->
                <div class="form-group">
                    <label for="lote">Lote</label>
                    <input type="text" class="form-control" id="lote" name="lote" required>
                </div>
                <div class="form-group">
                    <label for="quantidade">Quantidade un</label>
                    <input type="number" class="form-control" id="quantidade" name="quantidade" required>
                </div>
                <div class="form-group">
                    <label for="comp">Preço comprado</label>
                    <!--<input type="text" class="form-control" id="comp" name="comp"> -->
                    <input type="text" class="form-control" id="comp" name="comp" required>
                </div>
                <div class="form-group">
                    <label for="ven">Preço vendido</label>
                    <input type="text" class="form-control" id="ven" name="ven" required>
                </div>
                <span type="submit" class="btn btn-primary btn-block" id="btnAddProdutov">Adicionar</span>                
            </form>
        </div>
        <div class="col-sm-8">
            <div id="tabelaProdvLoad"></div>
        </div> 
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$("#comp").maskMoney({prefix:'R$ ', allowNegative: false, thousands:'.', decimal:','});
    $("#ven").maskMoney({prefix:'R$ ', allowNegative: false, thousands:'.', decimal:','});	
        
    function editarProdutoVenda(idprodv){
        //alert(idprodv);
        $.ajax({
            type:"POST",
            data:"idprodv=" + idprodv,
            url:"obt-produtov",
            success:function(r){
                var resp = JSON.parse(r);
                $('#idprodvU').val(resp['id']);
                $('#idProdutoU').val(resp['id_produto']);
                $('#loteU').val(resp['lote']);
                $('#quantidadeU').val(resp['quantidade']);
                $('#compU').val(resp['preco_comp']);
                $('#venU').val(resp['preco_ven']).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});
            }
        });
    }

    function deletarProdutov(idProdVend, idProduto, quantidade){
        let dados={
            idLote: idProdVend,
            idProduto: idProduto,
            quantidade: quantidade
        }
        console.log('dados', dados);
        alertify.confirm('Deseja excluir este Brinquedo?', function(){ 
            $.ajax({
                type:"POST",
                data:dados,
                url:"prod-vend-desativa",
                success:function(r){
                    console.log(r);
                    var resp = JSON.parse(r);
                    if(resp == true){
                        $('#tabelaProdvLoad').load("tab-prod-vend");
                        alertify.success("Excluido com sucesso!!");
                    }else{
                        alertify.error("Não foi possível excluir");
                    }
                }
            });
        }, function(){ 
            alertify.error('Cancelado !')
        });
    }
</script>



<script type="text/javascript">
    $(document).ready(function(){
        $('#tabelaProdvLoad').load("tab-prod-vend");

        $('#btnAddProdutov').click(function(){
            // vazios=validarFormVazio('frmProdutov');
            // if(vazios > 0){
            //     alertify.alert("Preencha os Campos!!");
            //     return false;
            // }
            $('#frmProdutov')[0].reportValidity();
            if(!$('#frmProdutov')[0].checkValidity()){
                console.log('entrou if');
                return false;
            }

           if($('#quantidade').val() == 0){
            alertify.error("Preencha quantidade valida!");
                return false;
           }

            var precoCompra = $('#comp').maskMoney('unmasked')[0];
			var precoVenda = $('#ven').maskMoney('unmasked')[0];
            if(precoCompra > precoVenda){
                alertify.error("Valor de venda menor que o valor da compra!");
                return false;
            }

            let dados={
                idProduto: $('#produtoSelect').val(),
                lote: $('#lote').val(),
                quantidade: $('#quantidade').val(),
                comp: $('#comp').maskMoney('unmasked')[0],
                ven: $('#ven').maskMoney('unmasked')[0]
            }
            // dados=$('#frmProdutov').serialize();
           
            $.ajax({
                type: "POST",
                data: dados,
                url:"prod-vend-add",
                success:function(r){
                    console.log(r);
                    var resp = JSON.parse(r);
                    if(resp.resp){
                        $('#frmProdutov')[0].reset();
                        $('#produtoSelect').val(null).trigger('change'); //reseta o select
                        $('#tabelaProdvLoad').load("tab-prod-vend");
                        alertify.success("Brinquedo Adicionado");
                    }else{
                        alertify.error("Não foi possível adicionar :(");
                    }
                }
            });
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function(){
        $('#btnAtualizarProdutovU').click(function(){
            var precoCompra = parseFloat($('#compU').val());
			var precoVenda = parseFloat($('#venU').val());
            if(precoCompra > precoVenda){
                alertify.error("Valor de venda menor que o valor da compra!!");
                return false;
            }
            dados=$('#frmProdutovU').serialize();
            $.ajax({
                type:"PUT",
                data:dados,
                url:"atz-prod-venda",
                success:function(r){
                    console.log(r);
                    var resp = JSON.parse(r);
                    if(resp.resp){
                        $('#produtoSelect').val(null).trigger('change');
                        $('#tabelaProdvLoad').load("tab-prod-vend");
                        alertify.success("Brinquedo atualizado com sucesso!");
                    }else{
                        alertify.error("Não foi possível atualizar Brinquedo!");
                    }
                }
            });
        })
    })
</script> 

<script type="text/javascript">
$(document).ready(function(){
    $('#produtoSelect').select2({
        language: "pt-br",
        minimumInputLength: 3,
        ajax: {
            url: 'pesquisar-produto',
            dataType: 'json'
        }
    });
});

/**
* Entter para pesquisar produto
*/
$('#codigo').on('keypress',function(e) {
    if(e.which == 13) {
        $.ajax({
            type:"POST",
            data:"codigo=" + $('#codigo').val(),
            url:"pesquisar-prod-est-codigo",
            success:function(r){
                console.log('resposta',r);
                var resp = JSON.parse(r);
                if(resp.length > 0){
                    $('#codigo').attr('data-id', parseInt(resp[0]['id']));
                    $('#codigo').attr('data-nome', resp[0]['nome']);
                    $('#descricaoV').val(resp[0]['descricao']);
                    $('#quantidadeV').val(resp[0]['quantotal']);
                    $('#precoV').val(resp[0]['preco_ven']);
                    $('#btAddTemp').click(); 
                }else{
                    alertify.error('Produto nao encontrado.');
                }
            }
        });
    }
});
</script>
{% endblock %}